In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path='./datas/'
file_name=file_path+"h1b_dev_match_soc_code.csv"
df=pd.read_csv(file_name)
#train_data=train_data.loc[(train_data['CASE_STATUS']=='CERTIFIED') | (train_data['CASE_STATUS']=='DENIED')]

In [3]:
df.loc[1572]

Unnamed: 0                                                      2707288
CASE_STATUS                                                      DENIED
EMPLOYER_NAME         MOYLAN'S INSURANCE UNDERWRITERS INTERNATIONAL ...
SOC_NAME                                                    Accountants
JOB_TITLE                                                    ACCOUNTANT
FULL_TIME_POSITION                                                    Y
PREVAILING_WAGE                                                 24918.4
YEAR                                                               2011
WORKSITE                                                    GARAPAN, NA
lon                                                                 NaN
lat                                                                 NaN
SOC_CODE                                                         0o1002
Name: 1572, dtype: object

In [4]:
df['STATE'] = df.WORKSITE.str.split('\s+').str[-1]

In [5]:
class_mapping = {'CERTIFIED':0, 'DENIED':1}
df["CASE_STATUS"] = df["CASE_STATUS"].map(class_mapping)

In [6]:
df[df["SOC_CODE"]=="0o0"]

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,SOC_CODE,STATE
82,2607731,1,FLORIDA INTERNATIONAL FORWARDERS,Cargo and Freight Agents,EXPORT ACCOUNT EXECUTIVE,Y,31200.0,2012.0,"MIAMI, FLORIDA",-80.191790,25.761680,0o0,FLORIDA
333,2683963,0,"DECOFRUT, INC",Agricultural Inspectors,QUALITY CONTROL,Y,24357.0,2011.0,"GLOUCESTER, NEW JERSEY",-75.049433,39.793381,0o0,JERSEY
370,2954734,0,"MEDITERRANEAN SHIPPING COMPANY (USA), INC.",Marine Cargo Inspectors,EXPORT DOCUMENTATION ANALYST,Y,33142.2,2011.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o0,TEXAS
519,1527397,0,INTERNATIONAL BANK OF CHICAGO,Loan Officers,LOAN REVIEW OFFICER,Y,42390.0,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
538,1816065,0,INDIANA UNIV. PURDUE UNIV. INDIANAPOLIS,Orthodontists,RESEARCH ASSISTANT PROFESSOR,Y,65847.0,2013.0,"INDIANAPOLIS, INDIANA",-86.158068,39.768403,0o0,INDIANA
1222,1981735,0,CHINESE GOSPEL CHURCH OF PORTLAND,Clergy,MINISTER,Y,41059.0,2013.0,"CUMBERLAND, MAINE",NaN,NaN,0o0,MAINE
1358,1586598,0,LES METALLIERS CHAMPENOIS CORPORATION,"Construction and Related Workers, All Other",SPECIALTY METALS PROJECT COORDINATOR,Y,59446.0,2014.0,"PATERSON, NEW JERSEY",-74.171811,40.916765,0o0,JERSEY
1596,647093,1,PACIFIC TRELLIS FRUIT LLC,CUSTOMER SERVICE REPRESENTATIVES,GROWER RELATIONS,N,50000.0,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0o0,CALIFORNIA
1822,635471,0,ST. BARNABAS HOSPITAL,PODIATRISTS,PODIATRY RESIDENT,N,51641.0,2016.0,"BRONX, NEW YORK",-73.864827,40.844782,0o0,YORK
2086,2987240,0,"ACROSS NATIONS PIONEERS, INC.",Loan Officers,LOAN OFFICER,N,58801.6,2011.0,"ENGLEWOOD, NEW JERSEY",-73.972638,40.892877,0o0,JERSEY
2249,2560326,0,"ALAN B. HELIG, D.D.S.",Dental Assistants,PATIENT CARE/TREATMENT COORDINATOR,Y,32656.0,2012.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o0,COLUMBIA
2551,2943611,0,"MULCAHY RACING STABLES, LLC","First-Line Supervisors of Farming, Fishing, an...",THOROUGHBRED HORSE TRAINER,Y,38459.0,2011.0,"PARIS, KENTUCKY",NaN,NaN,0o0,KENTUCKY
2667,2700318,0,TRANSLATION LLC,Copy Writers,ADVERTISING COPY WRITER,Y,47819.2,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
2840,1547230,0,"WILMINGTON SAVINGS FUND SOCIETY, FSB",Loan Officers,CORPORATE BANKING TRAINEE/OFFICER,Y,37523.2,2014.0,"WILMINGTON, DELAWARE",-75.539788,39.739072,0o0,DELAWARE
2852,2786637,0,KENTS HILL SCHOOL,Residential Advisors,ASSISTANT DIRECTOR OF THE INTERNATIONAL STUDEN...,Y,21341.0,2011.0,"KENTS HILL, MAINE",NaN,NaN,0o0,MAINE
2862,643684,0,"TWIN CITY YOUTH SOCCER ASSOCIATION, INC.",RECREATION WORKERS,"PHYSICAL DEVELOPMENT, HEALTH AND WELLNESS DIRE...",N,27290.0,2016.0,"ADVANCE, NORTH CAROLINA",NaN,NaN,0o0,CAROLINA
2937,1097745,0,UNIVERSITY OF MARYLAND COLLEGE PARK,GEOGRAPHERS,ASSISTANT RESEARCH PROFESSOR,Y,48048.0,2015.0,"COLLEGE PARK, MARYLAND",-76.937760,38.989697,0o0,MARYLAND
3126,2156627,0,THE UNIVERSITY OF TEXAS AT AUSTIN,Hydrologists,POSTDOCTORAL FELLOW,Y,45635.0,2013.0,"AUSTIN, TEXAS",-97.743061,30.267153,0o0,TEXAS
3961,623872,0,ISMILE ORTHODONTICS LLC.,ORTHODONTISTS,ORTHODONTIST,Y,187200.0,2016.0,"WHITE PLAINS, NEW YORK",-73.762910,41.033986,0o0,YORK
4575,2747750,0,SAFE WATER NETWORK,Soil Conservationists,ASSOCIATE PROGRAM MANAGER,Y,57949.0,2011.0,"WESTPORT, CONNECTICUT",-73.357905,41.141472,0o0,CONNECTICUT
4582,619447,0,"SOUTHERN CHINESE DAILY NEWS, LLC",BROADCAST NEWS ANALYSTS,NEWS ANCHOR,N,30097.6,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o0,TEXAS
5834,590803,0,GEORGE MASON UNIVERSITY,GEOGRAPHERS,RESEARCH ASSISTANT PROFESSOR,N,34986.0,2016.0,"FAIRFAX, VIRGINIA",-77.306373,38.846224,0o0,VIRGINIA
5932,2897255,0,COLUMBIA UNIVERSITY,Hydrologists,ASSOSCIATE RESEARCH SCIENTIST,Y,58344.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
6869,1045203,0,IN CHRIST CHURCH,CLERGY,PASTOR,Y,32302.0,2015.0,"WHITTIER, CALIFORNIA",-118.032844,33.979179,0o0,CALIFORNIA
6907,682723,0,UNIVERSITY CORPORATION FOR ATMOSPHERIC RESEARCH,HYDROLOGISTS,PROJECT SCIENTIST II,Y,61381.0,2015.0,"BOULDER, COLORADO",-105.270546,40.014986,0o0,COLORADO
7001,1858208,0,GEORGE MASON UNIVERSITY,Geographers,RESEARCH ASSISTANT PROFESSOR,Y,46030.0,2013.0,"FAIRFAX, VIRGINIA",-77.306373,38.846224,0o0,VIRGINIA
7596,1401933,0,NORC,Sociologists,SENIOR RESEARCH SCIENTIST,Y,70782.0,2014.0,"BETHESDA, MARYLAND",-77.094709,38.984652,0o0,MARYLAND
7895,1348311,0,"A+ PREMIER TITLE, LLC","Title Examiners, Abstractors, and Searchers",SENIOR COMMERCIAL TITLE OFFICER,Y,28704.0,2014.0,"ORLANDO, FLORIDA",-81.379237,28.538335,0o0,FLORIDA
8152,1135427,0,HAMIDREZA MOGHADDAM M.D. PA,PODIATRISTS,PODIATRIST,Y,73008.0,2015.0,"NORTH MIAMI, FLORIDA",-80.186714,25.890095,0o0,FLORIDA
8255,22725,0,"TOP HAY, LLC","BUYERS AND PURCHASING AGENTS, FARM PRODUCTS",PURCHASING AGENT,N,37835.0,2016.0,"COMPTON, CALIFORNIA",-118.220071,33.895849,0o0,CALIFORNIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534447,1366726,0,EPISCOPAL DIOCESE OF MASSACHUSETTS,Clergy,EPISCOPAL PRIEST,N,57428.8,2014.0,"HYDE PARK, MASSACHUSETTS",NaN,NaN,0o0,MASSACHUSETTS
534577,2886000,0,"MEDITERRANEAN SHIPPING COMPANY (USA), INC.",Marine Cargo Inspectors,EXPORT DOCUMENTATION ANALYST,Y,29666.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
534721,2931446,0,"JUSTICE AND WITNESS MINISTRIES, A COVENANTED M...",Clergy,MINISTER OF RACIAL JUSTICE,Y,29453.0,2011.0,"CLEVELAND, OHIO",-81.694361,41.499320,0o0,OHIO
535062,1852471,0,QUALITY FRUIT SURVEYS INC.,Agricultural Inspectors,QUALITY CONTROL ENGINEER,Y,25064.0,2013.0,"GLOUCESTER CITY, NEW JERSEY",-75.116286,39.891780,0o0,JERSEY
535200,2341401,0,CAMP VEGA,Photographers,PHOTOGRAPHER,Y,26312.0,2012.0,"FAYETTE, MAINE",NaN,NaN,0o0,MAINE
535265,2060792,0,SAYBOLT LP,Transportation Inspectors,INSPECTION SUPERVISOR,Y,47237.0,2013.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625,0o0,PENNSYLVANIA
535796,1780665,1,AKF GROUP LLC,"Office and Administrative Support Workers, All...",ADMINISTRATIVE ASSISTANT,Y,27768.0,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
536150,728662,0,WORCESTER KOREAN UNITED METHODIST CHURCH,CLERGY,PASTOR,N,39124.8,2015.0,"WORCESTER, MASSACHUSETTS",-71.802293,42.262593,0o0,MASSACHUSETTS
536289,2888154,0,OREGON ENERGY LLC,Geologists,SENIOR GEOLOGIST,Y,80724.8,2011.0,"MCDERMITT, NEVADA",NaN,NaN,0o0,NEVADA
536843,1452478,0,LARSEN & TOUBRO TECHNOLOGY SERVICES LTD,DATA WAREHOUSING SPECIALISTS,DATA WAREHOUSE SYSTEMS ENGINEER,Y,43222.0,2014.0,"NEW ORLEANS, LOUISIANA",-90.071532,29.951066,0o0,LOUISIANA
537039,639897,0,UFIT TENNESSEE INC.,EXERCISE PHYSIOLOGISTS,SPECIAL POPULATIONS EXERCISE COORDINATOR,N,44907.2,2016.0,"MURFREESBORO, TENNESSEE",-86.390270,35.845621,0o0,TENNESSEE
537113,909356,0,SUNIPRA USA INC,"TEXTILE, APPAREL, AND FURNISHINGS WORKERS, ALL",MERCHANDISE MANAGER,Y,40102.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
537322,1438737,0,"GENEX COOPERATIVE, INC.",Animal Breeders,REGIONAL ACCOUNT SPECIALIST,Y,45698.0,2014.0,"SHAWANO, WISCONSIN",NaN,NaN,0o0,WISCONSIN
537516,2114822,0,"IHS GLOBAL, INC.",Geographers,CONSULTANT (ECONOMIC GEOGRAPHER),Y,62317.0,2013.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o0,COLUMBIA
537595,2431093,0,NORDIC LOGISTICS & WAREHOUSING,"Office and Administrative Support Workers, All...",ENGINEERING ASSISTANT,Y,26852.8,2012.0,"ATLANTA, GEORGIA",-84.387982,33.748995,0o0,GEORGIA
537683,2157108,1,MURPHY-BROWN LLC,Animal Breeders,HEAD OF DEPARTMENT,Y,29453.0,2013.0,"MAPLE HILL, NORTH CAROLINA",NaN,NaN,0o0,CAROLINA
538282,1943758,0,INFOSYS BPO LTD.,First-Line Supervisors of Office and Administr...,OPERATIONS MANAGER - US,Y,58261.0,2013.0,"SEATTLE, WASHINGTON",-122.332071,47.606209,0o0,WASHINGTON
538340,2967161,0,"ELIE TAHARI, LTD",First-Line Supervisors of Production and Opera...,PRODUCTION COORDINATOR - MEN'S,Y,38334.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
538449,2486472,0,ST. THOMAS FEDERAL CREDIT UNION,"Office Clerks, General",MEMBER SERVICE REPRESENTATIVE,Y,18283.2,2012.0,"CHARLOTTE AMALIE, NA",NaN,NaN,0o0,NA
538613,643782,0,SABRAGE HOLDINGS LLC,"PERSONAL CARE AND SERVICE WORKERS, ALL OTHER",SPA COORDINATOR,N,26499.2,2016.0,"NORTH BETHESDA, MARYLAND",-77.118868,39.044553,0o0,MARYLAND
539338,2771066,0,"MANATT, PHELPS & PHILLIPS, LLP",Sociologists,SENIOR ANALYST - HEALTH SOLUTIONS,Y,54184.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
539529,780428,0,THE UNIVERISTY OF SOUTHERN MISSISIPPI,MUSICIANS AND SINGERS,STAFF ACCOMPANIST,Y,17264.0,2015.0,"HATTIESBURG, MISSISSIPPI",-89.290339,31.327119,0o0,MISSISSIPPI
540187,1403343,0,"HERITAGE CARE, INC.","Social Workers, All Other",SOCIAL WORKER,Y,49587.0,2014.0,"ANNAPOLIS, MARYLAND",-76.492183,38.978445,0o0,MARYLAND
540213,2401317,1,METRO CITY BANK,Loan Officers,LOAN OFFICER,Y,40581.0,2012.0,"DORAVILLE, GEORGIA",-84.283256,33.898158,0o0,GEORGIA
540442,1732557,0,THE UNIVERSITY OF CHICAGO,Recreation Workers,ATHLETICS MANAGER - COMMUNITY RELATIONS/MARKETING,Y,25667.0,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
540660,2708067,0,"HANKYU HANSHIN EXPRESS (USA), INC.","Transportation Workers, All Other",EXPORT COORDINATOR,Y,28995.0,2011.0,"JAMAICA, NEW YORK",-73.788969,40.702677,0o0,YORK
540664,1043995,0,CLEARFIELD-JEFFERSON HEAD & NECK SURGICAL ASSO...,AUDIOLOGISTS,AUDIOLOGIST,Y,52915.0,2015.0,"DUBOIS, PENNSYLVANIA",NaN,NaN,0o0,PENNSYLVANIA
540879,2936626,0,ALTUS GROUP U.S. INC.,Appraisers and Assessors of Real Estate,SENIOR CONSULTANT,Y,62005.0,2011.0,"IRVINE, CALIFORNIA",-117.794694,33.683947,0o0,CALIFORNIA
540958,2323276,0,UNIVERSITY OF NEW HAMPSHIRE,Residential Advisors,RESIDENCE HALL DIRECTOR,Y,28163.0,2012.0,"DURHAM, NEW HAMPSHIRE",-70.926439,43.133955,0o0,HAMPSHIRE
541220,1724847,0,ARIZONA STATE UNIVERSITY,Hydrologists,RESEARCH ENGINEER,Y,49754.0,2014.0,"TEMPE, ARIZONA",-111.940005,33.425510,0o0,ARIZONA

In [7]:
df.isnull().sum()

Unnamed: 0                0
CASE_STATUS               0
EMPLOYER_NAME             5
SOC_NAME                  0
JOB_TITLE                 3
FULL_TIME_POSITION        1
PREVAILING_WAGE          16
YEAR                      0
WORKSITE                  0
lon                   19467
lat                   19467
SOC_CODE                  0
STATE                     0
dtype: int64

In [8]:
df=df.drop("Unnamed: 0",axis=1)
df=df.drop("EMPLOYER_NAME",axis=1)
df=df.drop("SOC_NAME",axis=1)
df=df.drop("JOB_TITLE",axis=1)
df=df.drop("WORKSITE",axis=1)
df=df.drop("lon",axis=1)
df=df.drop("lat",axis=1)

In [9]:
df['FULL_TIME_POSITION'] = df['FULL_TIME_POSITION'].fillna(df['FULL_TIME_POSITION'].mode()[0])
df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].fillna(0)

In [10]:
df

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,SOC_CODE,STATE
0,0,Y,54496.0,2013.0,0o1400,TEXAS
1,0,Y,62046.0,2015.0,0o1400,TEXAS
2,0,N,97635.2,2014.0,0o1200,OHIO
3,0,Y,101130.0,2014.0,0o1200,ILLINOIS
4,0,Y,75982.0,2014.0,0o1400,MASSACHUSETTS
5,0,Y,67038.0,2013.0,0o1400,MINNESOTA
6,0,Y,50461.0,2012.0,0o1300,WISCONSIN
7,0,Y,74214.0,2016.0,0o1400,MASSACHUSETTS
8,0,Y,48400.0,2012.0,0o1004,CALIFORNIA
9,0,Y,48430.0,2013.0,0o1050,WISCONSIN
10,0,Y,57179.0,2012.0,0o1400,JERSEY
11,0,Y,109429.0,2016.0,0o1420,TEXAS
12,0,Y,66830.0,2012.0,0o1400,WISCONSIN
13,0,Y,73112.0,2015.0,0o1400,KANSAS
14,0,Y,73923.0,2015.0,0o1400,CALIFORNIA
15,0,Y,95326.0,2015.0,0o1004,OREGON
16,0,Y,83408.0,2014.0,0o1400,MARYLAND
17,0,Y,56160.0,2014.0,0o1400,OHIO
18,0,N,52686.0,2016.0,0o1400,CAROLINA
19,0,Y,68411.0,2014.0,0o1400,CAROLINA
20,0,Y,80725.0,2012.0,0o1400,UTAH
21,0,Y,41808.0,2014.0,0o1300,TEXAS
22,0,Y,72717.0,2016.0,0o1400,TEXAS
23,0,Y,76898.0,2015.0,0o1420,YORK
24,0,Y,50814.0,2014.0,0o1400,CONNECTICUT
25,0,Y,67725.0,2012.0,0o1404,CALIFORNIA
26,0,Y,47632.0,2015.0,0o1400,CONNECTICUT
27,0,Y,40980.0,2015.0,0o1040,GEORGIA
28,0,Y,59280.0,2015.0,0o1400,PENNSYLVANIA
29,0,Y,71510.0,2014.0,0o1400,JERSEY
...,...,...,...,...,...,...
541492,0,Y,62566.0,2015.0,0o1400,TEXAS
541493,0,Y,56888.0,2011.0,0o1004,MICHIGAN
541494,0,Y,81037.0,2016.0,0o1404,MINNESOTA
541495,0,Y,58531.0,2013.0,0o1100,HAMPSHIRE
541496,0,Y,71718.0,2016.0,0o1400,PENNSYLVANIA
541497,0,Y,51210.0,2014.0,0o1400,CAROLINA
541498,0,Y,42037.0,2012.0,0o1300,TEXAS
541499,1,Y,60300.0,2011.0,0o1404,MASSACHUSETTS
541500,0,Y,61901.0,2015.0,0o1400,MICHIGAN
541501,0,Y,64792.0,2015.0,0o1004,VIRGINIA
541502,0,Y,71906.0,2015.0,0o1021,JERSEY
541503,0,Y,65832.0,2011.0,0o1404,COLORADO
541504,0,N,52374.0,2016.0,0o1400,OHIO
541505,0,Y,82202.0,2015.0,0o1400,WASHINGTON
541506,0,Y,82243.0,2012.0,0o1020,YORK
541507,0,Y,55245.0,2014.0,0o1400,CALIFORNIA
541508,0,Y,53019.0,2013.0,0o1404,PENNSYLVANIA
541509,0,Y,43160.0,2015.0,0o1105,CALIFORNIA
541510,0,Y,48963.0,2011.0,0o1012,COLUMBIA
541511,0,Y,61318.0,2014.0,0o1400,ILLINOIS
541512,0,Y,83844.8,2016.0,0o1200,JERSEY
541513,0,Y,50211.0,2013.0,0o1400,ILLINOIS
541514,0,Y,74422.0,2012.0,0o1400,JERSEY
541515,0,Y,55162.0,2012.0,0o1400,CALIFORNIA
541516,0,Y,94786.0,2015.0,0o1100,CALIFORNIA
541517,0,Y,82701.0,2014.0,0o1400,WASHINGTON
541518,1,N,64563.2,2016.0,0o1010,CALIFORNIA
541519,0,Y,97594.0,2015.0,0o1400,CALIFORNIA
541520,1,Y,42765.0,2012.0,0o1005,YORK
541521,0,Y,90813.0,2016.0,0o1400,YORK

In [11]:
save_file=file_path+'h1b_dev_preprocessing.csv'
df.to_csv(save_file,index=False)

In [12]:
df

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,SOC_CODE,STATE
0,0,Y,54496.0,2013.0,0o1400,TEXAS
1,0,Y,62046.0,2015.0,0o1400,TEXAS
2,0,N,97635.2,2014.0,0o1200,OHIO
3,0,Y,101130.0,2014.0,0o1200,ILLINOIS
4,0,Y,75982.0,2014.0,0o1400,MASSACHUSETTS
5,0,Y,67038.0,2013.0,0o1400,MINNESOTA
6,0,Y,50461.0,2012.0,0o1300,WISCONSIN
7,0,Y,74214.0,2016.0,0o1400,MASSACHUSETTS
8,0,Y,48400.0,2012.0,0o1004,CALIFORNIA
9,0,Y,48430.0,2013.0,0o1050,WISCONSIN
10,0,Y,57179.0,2012.0,0o1400,JERSEY
11,0,Y,109429.0,2016.0,0o1420,TEXAS
12,0,Y,66830.0,2012.0,0o1400,WISCONSIN
13,0,Y,73112.0,2015.0,0o1400,KANSAS
14,0,Y,73923.0,2015.0,0o1400,CALIFORNIA
15,0,Y,95326.0,2015.0,0o1004,OREGON
16,0,Y,83408.0,2014.0,0o1400,MARYLAND
17,0,Y,56160.0,2014.0,0o1400,OHIO
18,0,N,52686.0,2016.0,0o1400,CAROLINA
19,0,Y,68411.0,2014.0,0o1400,CAROLINA
20,0,Y,80725.0,2012.0,0o1400,UTAH
21,0,Y,41808.0,2014.0,0o1300,TEXAS
22,0,Y,72717.0,2016.0,0o1400,TEXAS
23,0,Y,76898.0,2015.0,0o1420,YORK
24,0,Y,50814.0,2014.0,0o1400,CONNECTICUT
25,0,Y,67725.0,2012.0,0o1404,CALIFORNIA
26,0,Y,47632.0,2015.0,0o1400,CONNECTICUT
27,0,Y,40980.0,2015.0,0o1040,GEORGIA
28,0,Y,59280.0,2015.0,0o1400,PENNSYLVANIA
29,0,Y,71510.0,2014.0,0o1400,JERSEY
...,...,...,...,...,...,...
541492,0,Y,62566.0,2015.0,0o1400,TEXAS
541493,0,Y,56888.0,2011.0,0o1004,MICHIGAN
541494,0,Y,81037.0,2016.0,0o1404,MINNESOTA
541495,0,Y,58531.0,2013.0,0o1100,HAMPSHIRE
541496,0,Y,71718.0,2016.0,0o1400,PENNSYLVANIA
541497,0,Y,51210.0,2014.0,0o1400,CAROLINA
541498,0,Y,42037.0,2012.0,0o1300,TEXAS
541499,1,Y,60300.0,2011.0,0o1404,MASSACHUSETTS
541500,0,Y,61901.0,2015.0,0o1400,MICHIGAN
541501,0,Y,64792.0,2015.0,0o1004,VIRGINIA
541502,0,Y,71906.0,2015.0,0o1021,JERSEY
541503,0,Y,65832.0,2011.0,0o1404,COLORADO
541504,0,N,52374.0,2016.0,0o1400,OHIO
541505,0,Y,82202.0,2015.0,0o1400,WASHINGTON
541506,0,Y,82243.0,2012.0,0o1020,YORK
541507,0,Y,55245.0,2014.0,0o1400,CALIFORNIA
541508,0,Y,53019.0,2013.0,0o1404,PENNSYLVANIA
541509,0,Y,43160.0,2015.0,0o1105,CALIFORNIA
541510,0,Y,48963.0,2011.0,0o1012,COLUMBIA
541511,0,Y,61318.0,2014.0,0o1400,ILLINOIS
541512,0,Y,83844.8,2016.0,0o1200,JERSEY
541513,0,Y,50211.0,2013.0,0o1400,ILLINOIS
541514,0,Y,74422.0,2012.0,0o1400,JERSEY
541515,0,Y,55162.0,2012.0,0o1400,CALIFORNIA
541516,0,Y,94786.0,2015.0,0o1100,CALIFORNIA
541517,0,Y,82701.0,2014.0,0o1400,WASHINGTON
541518,1,N,64563.2,2016.0,0o1010,CALIFORNIA
541519,0,Y,97594.0,2015.0,0o1400,CALIFORNIA
541520,1,Y,42765.0,2012.0,0o1005,YORK
541521,0,Y,90813.0,2016.0,0o1400,YORK