In [1]:
import pandas as pd
import numpy as np

In [3]:
file_path='./datas/'
file_name=file_path+"h1b_dev_match_soc_code.csv"
df=pd.read_csv(file_name)
#train_data=train_data.loc[(train_data['CASE_STATUS']=='CERTIFIED') | (train_data['CASE_STATUS']=='DENIED')]

In [4]:
'''
def wage_categorization(wage):
    if wage <=50000 and wage>= 0:
        return "VERY LOW"
    elif wage >50000 and wage <= 70000:
        return "LOW"
    elif wage >70000 and wage <= 90000:
        return "MEDIUM"
    elif wage >90000 and wage<=150000:
        return "HIGH"
    elif wage >=150000:
        return "VERY HIGH"
    elif wage < 0 :
        return "NON"
'''

'\ndef wage_categorization(wage):\n    if wage <=50000 and wage>= 0:\n        return "VERY LOW"\n    elif wage >50000 and wage <= 70000:\n        return "LOW"\n    elif wage >70000 and wage <= 90000:\n        return "MEDIUM"\n    elif wage >90000 and wage<=150000:\n        return "HIGH"\n    elif wage >=150000:\n        return "VERY HIGH"\n    elif wage < 0 :\n        return "NON"\n'

In [5]:
df['SOC_CODE'].value_counts()

0o1400    370935
0o1100     39261
0o1200     36872
0o1020     28429
0o1010     21795
0o1002     14240
0o1040     13615
0o1004     12088
0o0         2171
0o1001      2116
Name: SOC_CODE, dtype: int64

In [6]:
df['STATE'] = df.WORKSITE.str.split('\s+').str[-1]

In [7]:
df['FULL_TIME_POSITION'] = df['FULL_TIME_POSITION'].fillna(df['FULL_TIME_POSITION'].mode()[0])
df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].fillna(-100)

In [8]:
case_mapping = {'CERTIFIED':0, 'DENIED':1}
fp_mapping = {"N" :0,"Y" : 1}
df["CASE_STATUS"] = df["CASE_STATUS"].map(case_mapping)
df["FULL_TIME_POSITION"]=df["FULL_TIME_POSITION"].map(fp_mapping)

In [9]:
df["YEAR"]=df["YEAR"].astype('int')

In [ ]:
#df['WAGE_CATEGORY'] = df['PREVAILING_WAGE'].apply(wage_categorization)

In [10]:
df.isnull().sum()

Unnamed: 0                0
CASE_STATUS               0
EMPLOYER_NAME             5
SOC_NAME                  0
JOB_TITLE                 3
FULL_TIME_POSITION        0
PREVAILING_WAGE           0
YEAR                      0
WORKSITE                  0
lon                   19467
lat                   19467
ID                        0
SOC_CODE                  0
STATE                     0
dtype: int64

In [12]:
'''
df=df.drop("Unnamed: 0",axis=1)
df=df.drop("EMPLOYER_NAME",axis=1)
df=df.drop("SOC_NAME",axis=1)
df=df.drop("JOB_TITLE",axis=1)
df=df.drop("WORKSITE",axis=1)
df=df.drop("lon",axis=1)
df=df.drop("lat",axis=1)
'''

'\ndf=df.drop("Unnamed: 0",axis=1)\ndf=df.drop("EMPLOYER_NAME",axis=1)\ndf=df.drop("SOC_NAME",axis=1)\ndf=df.drop("JOB_TITLE",axis=1)\ndf=df.drop("WORKSITE",axis=1)\ndf=df.drop("lon",axis=1)\ndf=df.drop("lat",axis=1)\n'

In [14]:
df=df.drop("Unnamed: 0",axis=1)

In [16]:
save_file=file_path+'h1b_dev_preprocessing.csv'
df.to_csv(save_file,index=False)

In [15]:
df

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,ID,SOC_CODE,STATE
0,0,"INFODAT INTERNATIONAL, INC.",Computer Systems Analysts,SYSTEMS ANALYST,1,54496.0,2013,"HOUSTON, TEXAS",-95.369803,29.760427,0,0o1400,TEXAS
1,0,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,1,62046.0,2015,"SAN ANTONIO, TEXAS",-98.493628,29.424122,1,0o1400,TEXAS
2,0,"ASPEN DENTAL ASSOCIATES OF WESTERN PA, PC","Dentists, General",DENTIST (ASSOCIATE),0,97635.2,2014,"SOUTH LEBANON, OHIO",NaN,NaN,2,0o1200,OHIO
3,0,RUSH UNIVERSITY MEDICAL CENTER,"Physicians and Surgeons, All Other",INSTRUCTOR AND NEURORADIOLOGIST,1,101130.0,2014,"CHICAGO, ILLINOIS",-87.629798,41.878114,3,0o1200,ILLINOIS
4,0,ACCENTURE LLP,Computer Programmers,COMPUTER PROGRAMMER/CONFIGURER 3,1,75982.0,2014,"NORTH ANDOVER, MASSACHUSETTS",-71.135058,42.698702,4,0o1400,MASSACHUSETTS
5,0,SCEPTER TECHNOLOGIES INC,Computer Systems Analysts,SYSTEMS ANALYST,1,67038.0,2013,"MINNEAPOLIS, MINNESOTA",-93.265011,44.977753,5,0o1400,MINNESOTA
6,0,"BLOODCENTER OF WISCONSIN, INC.","Medical Scientists, Except Epidemiologists",RESEARCH SCIENTIST I,1,50461.0,2012,"MILWAUKEE, WISCONSIN",-87.906474,43.038902,6,0o1200,WISCONSIN
7,0,"DOTCOM TEAM, LLC",NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,COMPUTER SYSTEMS ADMINISTRATOR,1,74214.0,2016,"BRAINTREE, MASSACHUSETTS",-71.004001,42.207902,7,0o1400,MASSACHUSETTS
8,0,RTKL ASSOCIATES INC.,"Architects, Except Landscape and Naval",ARCHITECTURAL DESIGNER,1,48400.0,2012,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,8,0o1100,CALIFORNIA
9,0,UNIVERSITY OF WISCONSIN-EAU CLAIRE,"Business Teachers, Postsecondary",ASSISTANT PROFESSOR,1,48430.0,2013,"EAU CLAIRE, WISCONSIN",-91.498494,44.811349,9,0o1040,WISCONSIN
10,0,APTIVA CORP,"Software Developers, Applications",SOFTWARE ENGINEER,1,57179.0,2012,"NORTH BRUNSWICK, NEW JERSEY",-74.476671,40.452516,10,0o1400,JERSEY
11,0,"INSPERITY SERVICES, L.P.","MANAGERS, ALL OTHER","MANAGER, QUALITY ASSURANCE",1,109429.0,2016,"KINGWOOD, TEXAS",-95.190299,30.057536,12,0o1400,TEXAS
12,0,INFOSYS LIMITED,Computer Systems Analysts,CONSULTANT - US,1,66830.0,2012,"MILWAUKEE, WISCONSIN",-87.906474,43.038902,13,0o1400,WISCONSIN
13,0,INFOSYS LIMITED,COMPUTER PROGRAMMERS,PROJECT MANAGER - ENGINEERING - US,1,73112.0,2015,"WICHITA, KANSAS",-97.330053,37.687176,14,0o1400,KANSAS
14,0,MOMO INFORMATION TECHNOLOGIES CORP.,"SOFTWARE DEVELOPERS, APPLICATIONS",BACK-END ENGINEER,1,73923.0,2015,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929,15,0o1400,CALIFORNIA
15,0,INTEL CORPORATION,INDUSTRIAL ENGINEERS,PROCESS ENGINEER,1,95326.0,2015,"HILLSBORO, OREGON",-122.989827,45.522894,16,0o1100,OREGON
16,0,WIPRO LIMITED,"Computer Occupations, All Other",TEST ENGINEER LEVEL 2,1,83408.0,2014,"HAGERSTOWN, MARYLAND",-77.719993,39.641763,17,0o1400,MARYLAND
17,0,COLUMBUS INTERNATIONAL CORPORATION,Computer Systems Analysts,PROGRAMMER ANALYST,1,56160.0,2014,"NEW ALBANY, OHIO",-82.808786,40.081175,18,0o1400,OHIO
18,0,TATA CONSULTANCY SERVICES LIMITED,WEB DEVELOPERS,DEVELOPER USER INTERFACE,0,52686.0,2016,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087,20,0o1400,CAROLINA
19,0,IBM CORPORATION,"Software Developers, Applications",SENIOR CONSULTANT,1,68411.0,2014,"MOORESVILLE, NORTH CAROLINA",-80.810072,35.584860,21,0o1400,CAROLINA
20,0,O.C. TANNER COMPANY,"Software Developers, Applications",JAVA DEVELOPER III,1,80725.0,2012,"SALT LAKE CITY, UTAH",-111.891047,40.760779,22,0o1400,UTAH
21,0,BAYLOR COLLEGE OF MEDICINE,Biochemists and Biophysicists,RESEARCH ASSISTANT II,1,41808.0,2014,"HOUSTON, TEXAS",-95.369803,29.760427,23,0o1200,TEXAS
22,0,TECH THEME SOLUTIONS INC,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",SOFTWARE DEVELOPER,1,72717.0,2016,"HOUSTON, TEXAS",-95.369803,29.760427,24,0o1400,TEXAS
23,0,MOUNT SINAI BETH ISRAEL,GENERAL AND OPERATIONS MANAGERS,"DIRECTOR OF OPERATIONS, JAPANESE MEDICAL PRACTICE",1,76898.0,2015,"NEW YORK, NEW YORK",-74.005941,40.712784,25,0o1400,YORK
24,0,"SYNAPSE GROUP, INC.",Web Developers,FRONT END WEB DEVELOPER,1,50814.0,2014,"STAMFORD, CONNECTICUT",-73.538734,41.053430,26,0o1400,CONNECTICUT
25,0,"BRUKER NANO, INC.","Electronics Engineers, Except Computer",TECHNICAL SUPPORT ENGINEER,1,67725.0,2012,"SANTA BARBARA, CALIFORNIA",-119.698190,34.420831,27,0o1400,CALIFORNIA
26,0,"FACTSET RESEARCH SYSTEMS, INC.",DATABASE ADMINISTRATORS,CONTENT SPECIALIST,1,47632.0,2015,"NORWALK, CONNECTICUT",-73.408158,41.117744,28,0o1400,CONNECTICUT
27,0,LEARNING ACADEMY OF CENTRAL COBB,"SPECIAL EDUCATION TEACHERS, MIDDLE SCHOOL",SPECIAL EDUCATION TEACHER,1,40980.0,2015,"SMYRNA, GEORGIA",-84.514376,33.883993,29,0o1040,GEORGIA
28,0,"PEGASYS SYSTEMS & TECHNOLOGIES, INC.",COMPUTER SYSTEMS ANALYSTS,SYSTEMS ANALYST,1,59280.0,2015,"WEST CHESTER, PENNSYLVANIA",-75.605488,39.960664,30,0o1400,PENNSYLVANIA
29,0,LARSEN & TOUBRO INFOTECH LIMITED,Computer Programmers,COMPUTER PROGRAMMER,1,71510.0,2014,"HOBOKEN, NEW JERSEY",-74.032363,40.743991,31,0o1400,JERSEY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541492,0,BIRLASOFT INC,COMPUTER SYSTEMS ANALYSTS,SYSTEMS ANALYSTS,1,62566.0,2015,"HOUSTON, TEXAS",-95.369803,29.760427,599965,0o1400,TEXAS
541493,0,"LLAMASOFT, INC",Industrial Engineers,APPLICATIONS ENGINEER,1,56888.0,2011,"ANN ARBOR, MICHIGAN",-83.743038,42.280826,599966,0o1100,MICHIGAN
541494,0,"ROCKWELL AUTOMATION, INC.","ELECTRONICS ENGINEERS, EXCEPT COMPUTER",SENIOR DEVELOPMENT ENGINEER,1,81037.0,2016,"EDEN PRAIRIE, MINNESOTA",-93.470786,44.854686,599967,0o1400,MINNESOTA
541495,0,DARTMOUTH COLLEGE,Statisticians,STATISTICAL RESEARCH ANALYST,1,58531.0,2013,"LEBANON, NEW HAMPSHIRE",-72.251757,43.642293,599968,0o1004,HAMPSHIRE
541496,0,"OPERA TECHNOLOGIES, INC.",COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,1,71718.0,2016,"MALVERN, PENNSYLVANIA",-75.513812,40.036218,599969,0o1400,PENNSYLVANIA
541497,0,TAKE ENTERPRISE SERVICES INC,Computer Programmers,PROGRAMMER ANALYST,1,51210.0,2014,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087,599970,0o1400,CAROLINA
541498,0,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,"Medical Scientists, Except Epidemiologists",ASSISTANT PROFESSOR - RESEARCH TRACK,1,42037.0,2012,"DALLAS, TEXAS",-96.796988,32.776664,599971,0o1200,TEXAS
541499,1,METRATECH CORPORATION,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,1,60300.0,2011,"WALTHAM, MASSACHUSETTS",-71.235611,42.376485,599972,0o1400,MASSACHUSETTS
541500,0,IGATE TECHNOLOGIES INC.,COMPUTER PROGRAMMERS,COMPUTER PROGRAMMER,1,61901.0,2015,"MILFORD, MICHIGAN",-83.600370,42.591668,599973,0o1400,MICHIGAN
541501,0,"STG, INC.",INDUSTRIAL ENGINEERS,TEST ENGINEER,1,64792.0,2015,"RESTON, VIRGINIA",-77.357003,38.958631,599976,0o1100,VIRGINIA
541502,0,"DEXTRO SOFTWARE SYSTEMS, INC",MANAGEMENT ANALYSTS,BUSINESS ANALYST,1,71906.0,2015,"PRINCETON JUNCTION, NEW JERSEY",-74.619879,40.317330,599977,0o1020,JERSEY
541503,0,"AIRCELL, LLC","Computer Software Engineers, Applications",TEST ENGINEER,1,65832.0,2011,"BROOMFIELD, COLORADO",-105.086650,39.920541,599978,0o1400,COLORADO
541504,0,EDI LEADER LLC.,"SOFTWARE DEVELOPERS, APPLICATIONS",BUSINESS ANALYST,0,52374.0,2016,"KENTON, OHIO",NaN,NaN,599980,0o1400,OHIO
541505,0,UST GLOBAL INC.,COMPUTER PROGRAMMERS,SYSTEMS ANALYST,1,82202.0,2015,"ISSAQUAH, WASHINGTON",-122.032619,47.530101,599981,0o1400,WASHINGTON
541506,0,SIMPSON THACHER & BARTLETT LLP,Lawyers,LEGAL RESEARCH ASSOCIATE,1,82243.0,2012,"NEW YORK, NEW YORK",-74.005941,40.712784,599982,0o1020,YORK
541507,0,VINCESOLUTIONS,Computer Programmers,COMPUTER PROGRAMMER,1,55245.0,2014,"BURBANK, CALIFORNIA",-118.308966,34.180839,599983,0o1400,CALIFORNIA
541508,0,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,INDUSTRIAL DESIGNER,1,53019.0,2013,"NEW HOLLAND, PENNSYLVANIA",-76.085227,40.101764,599984,0o1400,PENNSYLVANIA
541509,0,"NISSIN FOODS (U.S.A.) COMPANY, INC.",FOOD SCIENTISTS AND TECHNOLOGISTS,SR. PROCESS CONTROL SPECIALIST,1,43160.0,2015,"GARDENA, CALIFORNIA",-118.308962,33.888349,599986,0o1100,CALIFORNIA
541510,0,"RAFFA, P.C.",Accountants and Auditors,SENIOR I ACCOUNTANT,1,48963.0,2011,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,599987,0o1010,COLUMBIA
541511,0,TATA CONSULTANCY SERVICES LIMITED,Computer Programmers,COMPUTER PROGRAMMER,1,61318.0,2014,"LAKE FOREST, ILLINOIS",-87.840625,42.258634,599988,0o1400,ILLINOIS
541512,0,"TGS HEALTH CARE SOLUTIONS, LLC",OCCUPATIONAL THERAPISTS,OCCUPATIONAL THERAPIST,1,83844.8,2016,"SECAUCUS, NEW JERSEY",-74.056530,40.789545,599989,0o1200,JERSEY
541513,0,IGATE TECHNOLOGIES INC.,Computer Programmers,COMPUTER PROGRAMMER,1,50211.0,2013,"DOWNERS GROVE, ILLINOIS",-88.011175,41.808919,599990,0o1400,ILLINOIS
541514,0,CAPGEMINI FINANCIAL SERVICES USA INC,Computer Systems Analysts,SENIOR CONSULTANT,1,74422.0,2012,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158,599991,0o1400,JERSEY
541515,0,LARSEN & TOUBRO INFOTECH LIMITED,"Computer Occupations, All Other*",SOFTWARE ENGINEER & TESTER,1,55162.0,2012,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,599993,0o1400,CALIFORNIA
541516,0,AMGEN INC.,STATISTICIANS,CDM SYSTEMS MANAGER,1,94786.0,2015,"THOUSAND OAKS, CALIFORNIA",-118.837594,34.170561,599994,0o1004,CALIFORNIA
541517,0,ACCENTURE LLP,Computer Programmers,COMPUTER PROGRAMMER / CONFIGURER 2,1,82701.0,2014,"SEATTLE, WASHINGTON",-122.332071,47.606209,599995,0o1400,WASHINGTON
541518,1,"SOK & WOLFSON, LLC",MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,MARKETING & COMMUNICATIONS SPECIALIST,0,64563.2,2016,"OAKLAND, CALIFORNIA",-122.271114,37.804364,599996,0o1010,CALIFORNIA
541519,0,"ILLUMINA, INC.",COMPUTER PROGRAMMERS,SR. SYSTEMS PROGRAMMER,1,97594.0,2015,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,599997,0o1400,CALIFORNIA
541520,1,CHRISTOPHER COLEMAN,Interior Designers,INTERIOR DESIGNER,1,42765.0,2012,"NEW YORK, NEW YORK",-74.005941,40.712784,599998,0o1100,YORK
541521,0,ALLIANCEBERNSTEIN L.P.,"SOFTWARE DEVELOPERS, APPLICATIONS","AO, BUSINESS ANALYST",1,90813.0,2016,"NEW YORK, NEW YORK",-74.005941,40.712784,599999,0o1400,YORK