In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path='./datas/'
file_name=file_path+"h1b_dev_match_soc_code.csv"
df=pd.read_csv(file_name)
#train_data=train_data.loc[(train_data['CASE_STATUS']=='CERTIFIED') | (train_data['CASE_STATUS']=='DENIED')]

In [3]:
df.loc[1572]

Unnamed: 0                                                      2707288
CASE_STATUS                                                      DENIED
EMPLOYER_NAME         MOYLAN'S INSURANCE UNDERWRITERS INTERNATIONAL ...
SOC_NAME                                                    Accountants
JOB_TITLE                                                    ACCOUNTANT
FULL_TIME_POSITION                                                    Y
PREVAILING_WAGE                                                 24918.4
YEAR                                                               2011
WORKSITE                                                    GARAPAN, NA
lon                                                                 NaN
lat                                                                 NaN
SOC_CODE                                                         0o1002
Name: 1572, dtype: object

In [4]:
df['STATE'] = df.WORKSITE.str.split('\s+').str[-1]

In [5]:
class_mapping = {'CERTIFIED':0, 'DENIED':1}
df["CASE_STATUS"] = df["CASE_STATUS"].map(class_mapping)

In [6]:
df

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,SOC_CODE,STATE
0,2126700,0,"INFODAT INTERNATIONAL, INC.",Computer Systems Analysts,SYSTEMS ANALYST,Y,54496.0,2013.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1400,TEXAS
1,808611,0,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,Y,62046.0,2015.0,"SAN ANTONIO, TEXAS",-98.493628,29.424122,0o1400,TEXAS
2,1622128,0,"ASPEN DENTAL ASSOCIATES OF WESTERN PA, PC","Dentists, General",DENTIST (ASSOCIATE),N,97635.2,2014.0,"SOUTH LEBANON, OHIO",NaN,NaN,0o1200,OHIO
3,1477017,0,RUSH UNIVERSITY MEDICAL CENTER,"Physicians and Surgeons, All Other",INSTRUCTOR AND NEURORADIOLOGIST,Y,101130.0,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o1200,ILLINOIS
4,1315460,0,ACCENTURE LLP,Computer Programmers,COMPUTER PROGRAMMER/CONFIGURER 3,Y,75982.0,2014.0,"NORTH ANDOVER, MASSACHUSETTS",-71.135058,42.698702,0o1400,MASSACHUSETTS
5,2044356,0,SCEPTER TECHNOLOGIES INC,Computer Systems Analysts,SYSTEMS ANALYST,Y,67038.0,2013.0,"MINNEAPOLIS, MINNESOTA",-93.265011,44.977753,0o1400,MINNESOTA
6,2592392,0,"BLOODCENTER OF WISCONSIN, INC.","Medical Scientists, Except Epidemiologists",RESEARCH SCIENTIST I,Y,50461.0,2012.0,"MILWAUKEE, WISCONSIN",-87.906474,43.038902,0o1300,WISCONSIN
7,445212,0,"DOTCOM TEAM, LLC",NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,COMPUTER SYSTEMS ADMINISTRATOR,Y,74214.0,2016.0,"BRAINTREE, MASSACHUSETTS",-71.004001,42.207902,0o1400,MASSACHUSETTS
8,2547041,0,RTKL ASSOCIATES INC.,"Architects, Except Landscape and Naval",ARCHITECTURAL DESIGNER,Y,48400.0,2012.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0o1004,CALIFORNIA
9,2128454,0,UNIVERSITY OF WISCONSIN-EAU CLAIRE,"Business Teachers, Postsecondary",ASSISTANT PROFESSOR,Y,48430.0,2013.0,"EAU CLAIRE, WISCONSIN",-91.498494,44.811349,0o1050,WISCONSIN
10,2540370,0,APTIVA CORP,"Software Developers, Applications",SOFTWARE ENGINEER,Y,57179.0,2012.0,"NORTH BRUNSWICK, NEW JERSEY",-74.476671,40.452516,0o1400,JERSEY
11,21997,0,"INSPERITY SERVICES, L.P.","MANAGERS, ALL OTHER","MANAGER, QUALITY ASSURANCE",Y,109429.0,2016.0,"KINGWOOD, TEXAS",-95.190299,30.057536,0o1420,TEXAS
12,2635350,0,INFOSYS LIMITED,Computer Systems Analysts,CONSULTANT - US,Y,66830.0,2012.0,"MILWAUKEE, WISCONSIN",-87.906474,43.038902,0o1400,WISCONSIN
13,853993,0,INFOSYS LIMITED,COMPUTER PROGRAMMERS,PROJECT MANAGER - ENGINEERING - US,Y,73112.0,2015.0,"WICHITA, KANSAS",-97.330053,37.687176,0o1400,KANSAS
14,709010,0,MOMO INFORMATION TECHNOLOGIES CORP.,"SOFTWARE DEVELOPERS, APPLICATIONS",BACK-END ENGINEER,Y,73923.0,2015.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929,0o1400,CALIFORNIA
15,851407,0,INTEL CORPORATION,INDUSTRIAL ENGINEERS,PROCESS ENGINEER,Y,95326.0,2015.0,"HILLSBORO, OREGON",-122.989827,45.522894,0o1004,OREGON
16,1377553,0,WIPRO LIMITED,"Computer Occupations, All Other",TEST ENGINEER LEVEL 2,Y,83408.0,2014.0,"HAGERSTOWN, MARYLAND",-77.719993,39.641763,0o1400,MARYLAND
17,1474592,0,COLUMBUS INTERNATIONAL CORPORATION,Computer Systems Analysts,PROGRAMMER ANALYST,Y,56160.0,2014.0,"NEW ALBANY, OHIO",-82.808786,40.081175,0o1400,OHIO
18,426281,0,TATA CONSULTANCY SERVICES LIMITED,WEB DEVELOPERS,DEVELOPER USER INTERFACE,N,52686.0,2016.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087,0o1400,CAROLINA
19,1302981,0,IBM CORPORATION,"Software Developers, Applications",SENIOR CONSULTANT,Y,68411.0,2014.0,"MOORESVILLE, NORTH CAROLINA",-80.810072,35.584860,0o1400,CAROLINA
20,2237507,0,O.C. TANNER COMPANY,"Software Developers, Applications",JAVA DEVELOPER III,Y,80725.0,2012.0,"SALT LAKE CITY, UTAH",-111.891047,40.760779,0o1400,UTAH
21,1437403,0,BAYLOR COLLEGE OF MEDICINE,Biochemists and Biophysicists,RESEARCH ASSISTANT II,Y,41808.0,2014.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1300,TEXAS
22,417212,0,TECH THEME SOLUTIONS INC,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",SOFTWARE DEVELOPER,Y,72717.0,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1400,TEXAS
23,828199,0,MOUNT SINAI BETH ISRAEL,GENERAL AND OPERATIONS MANAGERS,"DIRECTOR OF OPERATIONS, JAPANESE MEDICAL PRACTICE",Y,76898.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o1420,YORK
24,1448435,0,"SYNAPSE GROUP, INC.",Web Developers,FRONT END WEB DEVELOPER,Y,50814.0,2014.0,"STAMFORD, CONNECTICUT",-73.538734,41.053430,0o1400,CONNECTICUT
25,2267630,0,"BRUKER NANO, INC.","Electronics Engineers, Except Computer",TECHNICAL SUPPORT ENGINEER,Y,67725.0,2012.0,"SANTA BARBARA, CALIFORNIA",-119.698190,34.420831,0o1404,CALIFORNIA
26,937355,0,"FACTSET RESEARCH SYSTEMS, INC.",DATABASE ADMINISTRATORS,CONTENT SPECIALIST,Y,47632.0,2015.0,"NORWALK, CONNECTICUT",-73.408158,41.117744,0o1400,CONNECTICUT
27,1182339,0,LEARNING ACADEMY OF CENTRAL COBB,"SPECIAL EDUCATION TEACHERS, MIDDLE SCHOOL",SPECIAL EDUCATION TEACHER,Y,40980.0,2015.0,"SMYRNA, GEORGIA",-84.514376,33.883993,0o1040,GEORGIA
28,686695,0,"PEGASYS SYSTEMS & TECHNOLOGIES, INC.",COMPUTER SYSTEMS ANALYSTS,SYSTEMS ANALYST,Y,59280.0,2015.0,"WEST CHESTER, PENNSYLVANIA",-75.605488,39.960664,0o1400,PENNSYLVANIA
29,1593076,0,LARSEN & TOUBRO INFOTECH LIMITED,Computer Programmers,COMPUTER PROGRAMMER,Y,71510.0,2014.0,"HOBOKEN, NEW JERSEY",-74.032363,40.743991,0o1400,JERSEY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541492,1207911,0,BIRLASOFT INC,COMPUTER SYSTEMS ANALYSTS,SYSTEMS ANALYSTS,Y,62566.0,2015.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1400,TEXAS
541493,2819406,0,"LLAMASOFT, INC",Industrial Engineers,APPLICATIONS ENGINEER,Y,56888.0,2011.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826,0o1004,MICHIGAN
541494,547615,0,"ROCKWELL AUTOMATION, INC.","ELECTRONICS ENGINEERS, EXCEPT COMPUTER",SENIOR DEVELOPMENT ENGINEER,Y,81037.0,2016.0,"EDEN PRAIRIE, MINNESOTA",-93.470786,44.854686,0o1404,MINNESOTA
541495,1880027,0,DARTMOUTH COLLEGE,Statisticians,STATISTICAL RESEARCH ANALYST,Y,58531.0,2013.0,"LEBANON, NEW HAMPSHIRE",-72.251757,43.642293,0o1100,HAMPSHIRE
541496,280084,0,"OPERA TECHNOLOGIES, INC.",COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,Y,71718.0,2016.0,"MALVERN, PENNSYLVANIA",-75.513812,40.036218,0o1400,PENNSYLVANIA
541497,1299710,0,TAKE ENTERPRISE SERVICES INC,Computer Programmers,PROGRAMMER ANALYST,Y,51210.0,2014.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087,0o1400,CAROLINA
541498,2595398,0,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,"Medical Scientists, Except Epidemiologists",ASSISTANT PROFESSOR - RESEARCH TRACK,Y,42037.0,2012.0,"DALLAS, TEXAS",-96.796988,32.776664,0o1300,TEXAS
541499,2654028,1,METRATECH CORPORATION,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,Y,60300.0,2011.0,"WALTHAM, MASSACHUSETTS",-71.235611,42.376485,0o1404,MASSACHUSETTS
541500,854920,0,IGATE TECHNOLOGIES INC.,COMPUTER PROGRAMMERS,COMPUTER PROGRAMMER,Y,61901.0,2015.0,"MILFORD, MICHIGAN",-83.600370,42.591668,0o1400,MICHIGAN
541501,767956,0,"STG, INC.",INDUSTRIAL ENGINEERS,TEST ENGINEER,Y,64792.0,2015.0,"RESTON, VIRGINIA",-77.357003,38.958631,0o1004,VIRGINIA
541502,997084,0,"DEXTRO SOFTWARE SYSTEMS, INC",MANAGEMENT ANALYSTS,BUSINESS ANALYST,Y,71906.0,2015.0,"PRINCETON JUNCTION, NEW JERSEY",-74.619879,40.317330,0o1020,JERSEY
541503,2754354,0,"AIRCELL, LLC","Computer Software Engineers, Applications",TEST ENGINEER,Y,65832.0,2011.0,"BROOMFIELD, COLORADO",-105.086650,39.920541,0o1404,COLORADO
541504,355306,0,EDI LEADER LLC.,"SOFTWARE DEVELOPERS, APPLICATIONS",BUSINESS ANALYST,N,52374.0,2016.0,"KENTON, OHIO",NaN,NaN,0o1400,OHIO
541505,1175275,0,UST GLOBAL INC.,COMPUTER PROGRAMMERS,SYSTEMS ANALYST,Y,82202.0,2015.0,"ISSAQUAH, WASHINGTON",-122.032619,47.530101,0o1400,WASHINGTON
541506,2435443,0,SIMPSON THACHER & BARTLETT LLP,Lawyers,LEGAL RESEARCH ASSOCIATE,Y,82243.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
541507,1692338,0,VINCESOLUTIONS,Computer Programmers,COMPUTER PROGRAMMER,Y,55245.0,2014.0,"BURBANK, CALIFORNIA",-118.308966,34.180839,0o1400,CALIFORNIA
541508,1925340,0,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,INDUSTRIAL DESIGNER,Y,53019.0,2013.0,"NEW HOLLAND, PENNSYLVANIA",-76.085227,40.101764,0o1400,PENNSYLVANIA
541509,1089257,0,"NISSIN FOODS (U.S.A.) COMPANY, INC.",FOOD SCIENTISTS AND TECHNOLOGISTS,SR. PROCESS CONTROL SPECIALIST,Y,43160.0,2015.0,"GARDENA, CALIFORNIA",-118.308962,33.888349,0o1104,CALIFORNIA
541510,2818910,0,"RAFFA, P.C.",Accountants and Auditors,SENIOR I ACCOUNTANT,Y,48963.0,2011.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o1002,COLUMBIA
541511,1766734,0,TATA CONSULTANCY SERVICES LIMITED,Computer Programmers,COMPUTER PROGRAMMER,Y,61318.0,2014.0,"LAKE FOREST, ILLINOIS",-87.840625,42.258634,0o1400,ILLINOIS
541512,635594,0,"TGS HEALTH CARE SOLUTIONS, LLC",OCCUPATIONAL THERAPISTS,OCCUPATIONAL THERAPIST,Y,83844.8,2016.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545,0o0,JERSEY
541513,2165806,0,IGATE TECHNOLOGIES INC.,Computer Programmers,COMPUTER PROGRAMMER,Y,50211.0,2013.0,"DOWNERS GROVE, ILLINOIS",-88.011175,41.808919,0o1400,ILLINOIS
541514,2270839,0,CAPGEMINI FINANCIAL SERVICES USA INC,Computer Systems Analysts,SENIOR CONSULTANT,Y,74422.0,2012.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158,0o1400,JERSEY
541515,2284380,0,LARSEN & TOUBRO INFOTECH LIMITED,"Computer Occupations, All Other*",SOFTWARE ENGINEER & TESTER,Y,55162.0,2012.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,0o1400,CALIFORNIA
541516,1181404,0,AMGEN INC.,STATISTICIANS,CDM SYSTEMS MANAGER,Y,94786.0,2015.0,"THOUSAND OAKS, CALIFORNIA",-118.837594,34.170561,0o1100,CALIFORNIA
541517,1374841,0,ACCENTURE LLP,Computer Programmers,COMPUTER PROGRAMMER / CONFIGURER 2,Y,82701.0,2014.0,"SEATTLE, WASHINGTON",-122.332071,47.606209,0o1400,WASHINGTON
541518,51742,1,"SOK & WOLFSON, LLC",MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,MARKETING & COMMUNICATIONS SPECIALIST,N,64563.2,2016.0,"OAKLAND, CALIFORNIA",-122.271114,37.804364,0o1010,CALIFORNIA
541519,1133603,0,"ILLUMINA, INC.",COMPUTER PROGRAMMERS,SR. SYSTEMS PROGRAMMER,Y,97594.0,2015.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,0o1400,CALIFORNIA
541520,2247374,1,CHRISTOPHER COLEMAN,Interior Designers,INTERIOR DESIGNER,Y,42765.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
541521,400077,0,ALLIANCEBERNSTEIN L.P.,"SOFTWARE DEVELOPERS, APPLICATIONS","AO, BUSINESS ANALYST",Y,90813.0,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o1400,YORK

In [7]:
df=df.drop("Unnamed: 0",axis=1)
df=df.drop("EMPLOYER_NAME",axis=1)
df=df.drop("SOC_NAME",axis=1)
df=df.drop("JOB_TITLE",axis=1)
df=df.drop("WORKSITE",axis=1)
df=df.drop("lon",axis=1)
df=df.drop("lat",axis=1)

In [8]:
df['FULL_TIME_POSITION'] = df['FULL_TIME_POSITION'].fillna(df['FULL_TIME_POSITION'].mode()[0])
df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].fillna(0)

In [9]:
df

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,SOC_CODE,STATE
0,0,Y,54496.0,2013.0,0o1400,TEXAS
1,0,Y,62046.0,2015.0,0o1400,TEXAS
2,0,N,97635.2,2014.0,0o1200,OHIO
3,0,Y,101130.0,2014.0,0o1200,ILLINOIS
4,0,Y,75982.0,2014.0,0o1400,MASSACHUSETTS
5,0,Y,67038.0,2013.0,0o1400,MINNESOTA
6,0,Y,50461.0,2012.0,0o1300,WISCONSIN
7,0,Y,74214.0,2016.0,0o1400,MASSACHUSETTS
8,0,Y,48400.0,2012.0,0o1004,CALIFORNIA
9,0,Y,48430.0,2013.0,0o1050,WISCONSIN
10,0,Y,57179.0,2012.0,0o1400,JERSEY
11,0,Y,109429.0,2016.0,0o1420,TEXAS
12,0,Y,66830.0,2012.0,0o1400,WISCONSIN
13,0,Y,73112.0,2015.0,0o1400,KANSAS
14,0,Y,73923.0,2015.0,0o1400,CALIFORNIA
15,0,Y,95326.0,2015.0,0o1004,OREGON
16,0,Y,83408.0,2014.0,0o1400,MARYLAND
17,0,Y,56160.0,2014.0,0o1400,OHIO
18,0,N,52686.0,2016.0,0o1400,CAROLINA
19,0,Y,68411.0,2014.0,0o1400,CAROLINA
20,0,Y,80725.0,2012.0,0o1400,UTAH
21,0,Y,41808.0,2014.0,0o1300,TEXAS
22,0,Y,72717.0,2016.0,0o1400,TEXAS
23,0,Y,76898.0,2015.0,0o1420,YORK
24,0,Y,50814.0,2014.0,0o1400,CONNECTICUT
25,0,Y,67725.0,2012.0,0o1404,CALIFORNIA
26,0,Y,47632.0,2015.0,0o1400,CONNECTICUT
27,0,Y,40980.0,2015.0,0o1040,GEORGIA
28,0,Y,59280.0,2015.0,0o1400,PENNSYLVANIA
29,0,Y,71510.0,2014.0,0o1400,JERSEY
...,...,...,...,...,...,...
541492,0,Y,62566.0,2015.0,0o1400,TEXAS
541493,0,Y,56888.0,2011.0,0o1004,MICHIGAN
541494,0,Y,81037.0,2016.0,0o1404,MINNESOTA
541495,0,Y,58531.0,2013.0,0o1100,HAMPSHIRE
541496,0,Y,71718.0,2016.0,0o1400,PENNSYLVANIA
541497,0,Y,51210.0,2014.0,0o1400,CAROLINA
541498,0,Y,42037.0,2012.0,0o1300,TEXAS
541499,1,Y,60300.0,2011.0,0o1404,MASSACHUSETTS
541500,0,Y,61901.0,2015.0,0o1400,MICHIGAN
541501,0,Y,64792.0,2015.0,0o1004,VIRGINIA
541502,0,Y,71906.0,2015.0,0o1020,JERSEY
541503,0,Y,65832.0,2011.0,0o1404,COLORADO
541504,0,N,52374.0,2016.0,0o1400,OHIO
541505,0,Y,82202.0,2015.0,0o1400,WASHINGTON
541506,0,Y,82243.0,2012.0,0o0,YORK
541507,0,Y,55245.0,2014.0,0o1400,CALIFORNIA
541508,0,Y,53019.0,2013.0,0o1400,PENNSYLVANIA
541509,0,Y,43160.0,2015.0,0o1104,CALIFORNIA
541510,0,Y,48963.0,2011.0,0o1002,COLUMBIA
541511,0,Y,61318.0,2014.0,0o1400,ILLINOIS
541512,0,Y,83844.8,2016.0,0o0,JERSEY
541513,0,Y,50211.0,2013.0,0o1400,ILLINOIS
541514,0,Y,74422.0,2012.0,0o1400,JERSEY
541515,0,Y,55162.0,2012.0,0o1400,CALIFORNIA
541516,0,Y,94786.0,2015.0,0o1100,CALIFORNIA
541517,0,Y,82701.0,2014.0,0o1400,WASHINGTON
541518,1,N,64563.2,2016.0,0o1010,CALIFORNIA
541519,0,Y,97594.0,2015.0,0o1400,CALIFORNIA
541520,1,Y,42765.0,2012.0,0o0,YORK
541521,0,Y,90813.0,2016.0,0o1400,YORK

In [10]:
df[df.STATE.isna()]

Empty DataFrame
Columns: [CASE_STATUS, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, SOC_CODE, STATE]
Index: []

In [11]:
df.loc[1572]

CASE_STATUS                 1
FULL_TIME_POSITION          Y
PREVAILING_WAGE       24918.4
YEAR                     2011
SOC_CODE               0o1002
STATE                      NA
Name: 1572, dtype: object

In [12]:
save_file=file_path+'h1b_dev_preprocessing.csv'
df.to_csv(save_file,index=False)