In [1]:
import pandas as pd
import numpy as np

In [14]:
file_path='./datas/'
file_name=file_path+"h1b_dev_match_soc_code.csv"
df=pd.read_csv(file_name)
#train_data=train_data.loc[(train_data['CASE_STATUS']=='CERTIFIED') | (train_data['CASE_STATUS']=='DENIED')]

In [15]:
df.loc[1572]

Unnamed: 0                                                      2707288
CASE_STATUS                                                      DENIED
EMPLOYER_NAME         MOYLAN'S INSURANCE UNDERWRITERS INTERNATIONAL ...
SOC_NAME                                                    Accountants
JOB_TITLE                                                    ACCOUNTANT
FULL_TIME_POSITION                                                    Y
PREVAILING_WAGE                                                 24918.4
YEAR                                                               2011
WORKSITE                                                    GARAPAN, NA
lon                                                                 NaN
lat                                                                 NaN
SOC_CODE                                                         0o1002
Name: 1572, dtype: object

In [16]:
df['STATE'] = df.WORKSITE.str.split('\s+').str[-1]

In [17]:
class_mapping = {'CERTIFIED':0, 'DENIED':1}
df["CASE_STATUS"] = df["CASE_STATUS"].map(class_mapping)

In [25]:
df

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,SOC_CODE,STATE
0,2126700,0,"INFODAT INTERNATIONAL, INC.",Computer Systems Analysts,SYSTEMS ANALYST,Y,54496.0,2013.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1400,TEXAS
1,808611,0,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,Y,62046.0,2015.0,"SAN ANTONIO, TEXAS",-98.493628,29.424122,0o1400,TEXAS
2,1622128,0,"ASPEN DENTAL ASSOCIATES OF WESTERN PA, PC","Dentists, General",DENTIST (ASSOCIATE),N,97635.2,2014.0,"SOUTH LEBANON, OHIO",NaN,NaN,0o1200,OHIO
3,1477017,0,RUSH UNIVERSITY MEDICAL CENTER,"Physicians and Surgeons, All Other",INSTRUCTOR AND NEURORADIOLOGIST,Y,101130.0,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o1200,ILLINOIS
4,1315460,0,ACCENTURE LLP,Computer Programmers,COMPUTER PROGRAMMER/CONFIGURER 3,Y,75982.0,2014.0,"NORTH ANDOVER, MASSACHUSETTS",-71.135058,42.698702,0o1400,MASSACHUSETTS
5,2044356,0,SCEPTER TECHNOLOGIES INC,Computer Systems Analysts,SYSTEMS ANALYST,Y,67038.0,2013.0,"MINNEAPOLIS, MINNESOTA",-93.265011,44.977753,0o1400,MINNESOTA
6,2592392,0,"BLOODCENTER OF WISCONSIN, INC.","Medical Scientists, Except Epidemiologists",RESEARCH SCIENTIST I,Y,50461.0,2012.0,"MILWAUKEE, WISCONSIN",-87.906474,43.038902,0o1300,WISCONSIN
7,445212,0,"DOTCOM TEAM, LLC",NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,COMPUTER SYSTEMS ADMINISTRATOR,Y,74214.0,2016.0,"BRAINTREE, MASSACHUSETTS",-71.004001,42.207902,0o1400,MASSACHUSETTS
8,2547041,0,RTKL ASSOCIATES INC.,"Architects, Except Landscape and Naval",ARCHITECTURAL DESIGNER,Y,48400.0,2012.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0o1004,CALIFORNIA
9,2128454,0,UNIVERSITY OF WISCONSIN-EAU CLAIRE,"Business Teachers, Postsecondary",ASSISTANT PROFESSOR,Y,48430.0,2013.0,"EAU CLAIRE, WISCONSIN",-91.498494,44.811349,0o1050,WISCONSIN
10,2540370,0,APTIVA CORP,"Software Developers, Applications",SOFTWARE ENGINEER,Y,57179.0,2012.0,"NORTH BRUNSWICK, NEW JERSEY",-74.476671,40.452516,0o1400,JERSEY
11,21997,0,"INSPERITY SERVICES, L.P.","MANAGERS, ALL OTHER","MANAGER, QUALITY ASSURANCE",Y,109429.0,2016.0,"KINGWOOD, TEXAS",-95.190299,30.057536,0o1420,TEXAS
12,2635350,0,INFOSYS LIMITED,Computer Systems Analysts,CONSULTANT - US,Y,66830.0,2012.0,"MILWAUKEE, WISCONSIN",-87.906474,43.038902,0o1400,WISCONSIN
13,853993,0,INFOSYS LIMITED,COMPUTER PROGRAMMERS,PROJECT MANAGER - ENGINEERING - US,Y,73112.0,2015.0,"WICHITA, KANSAS",-97.330053,37.687176,0o1400,KANSAS
14,709010,0,MOMO INFORMATION TECHNOLOGIES CORP.,"SOFTWARE DEVELOPERS, APPLICATIONS",BACK-END ENGINEER,Y,73923.0,2015.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929,0o1400,CALIFORNIA
15,851407,0,INTEL CORPORATION,INDUSTRIAL ENGINEERS,PROCESS ENGINEER,Y,95326.0,2015.0,"HILLSBORO, OREGON",-122.989827,45.522894,0o1004,OREGON
16,1377553,0,WIPRO LIMITED,"Computer Occupations, All Other",TEST ENGINEER LEVEL 2,Y,83408.0,2014.0,"HAGERSTOWN, MARYLAND",-77.719993,39.641763,0o1400,MARYLAND
17,1474592,0,COLUMBUS INTERNATIONAL CORPORATION,Computer Systems Analysts,PROGRAMMER ANALYST,Y,56160.0,2014.0,"NEW ALBANY, OHIO",-82.808786,40.081175,0o1400,OHIO
18,426281,0,TATA CONSULTANCY SERVICES LIMITED,WEB DEVELOPERS,DEVELOPER USER INTERFACE,N,52686.0,2016.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087,0o1400,CAROLINA
19,1302981,0,IBM CORPORATION,"Software Developers, Applications",SENIOR CONSULTANT,Y,68411.0,2014.0,"MOORESVILLE, NORTH CAROLINA",-80.810072,35.584860,0o1400,CAROLINA
20,2237507,0,O.C. TANNER COMPANY,"Software Developers, Applications",JAVA DEVELOPER III,Y,80725.0,2012.0,"SALT LAKE CITY, UTAH",-111.891047,40.760779,0o1400,UTAH
21,1437403,0,BAYLOR COLLEGE OF MEDICINE,Biochemists and Biophysicists,RESEARCH ASSISTANT II,Y,41808.0,2014.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1300,TEXAS
22,417212,0,TECH THEME SOLUTIONS INC,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",SOFTWARE DEVELOPER,Y,72717.0,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1400,TEXAS
23,828199,0,MOUNT SINAI BETH ISRAEL,GENERAL AND OPERATIONS MANAGERS,"DIRECTOR OF OPERATIONS, JAPANESE MEDICAL PRACTICE",Y,76898.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o1420,YORK
24,1448435,0,"SYNAPSE GROUP, INC.",Web Developers,FRONT END WEB DEVELOPER,Y,50814.0,2014.0,"STAMFORD, CONNECTICUT",-73.538734,41.053430,0o1400,CONNECTICUT
25,2267630,0,"BRUKER NANO, INC.","Electronics Engineers, Except Computer",TECHNICAL SUPPORT ENGINEER,Y,67725.0,2012.0,"SANTA BARBARA, CALIFORNIA",-119.698190,34.420831,0o1404,CALIFORNIA
26,937355,0,"FACTSET RESEARCH SYSTEMS, INC.",DATABASE ADMINISTRATORS,CONTENT SPECIALIST,Y,47632.0,2015.0,"NORWALK, CONNECTICUT",-73.408158,41.117744,0o1400,CONNECTICUT
27,1182339,0,LEARNING ACADEMY OF CENTRAL COBB,"SPECIAL EDUCATION TEACHERS, MIDDLE SCHOOL",SPECIAL EDUCATION TEACHER,Y,40980.0,2015.0,"SMYRNA, GEORGIA",-84.514376,33.883993,0o1040,GEORGIA
28,686695,0,"PEGASYS SYSTEMS & TECHNOLOGIES, INC.",COMPUTER SYSTEMS ANALYSTS,SYSTEMS ANALYST,Y,59280.0,2015.0,"WEST CHESTER, PENNSYLVANIA",-75.605488,39.960664,0o1400,PENNSYLVANIA
29,1593076,0,LARSEN & TOUBRO INFOTECH LIMITED,Computer Programmers,COMPUTER PROGRAMMER,Y,71510.0,2014.0,"HOBOKEN, NEW JERSEY",-74.032363,40.743991,0o1400,JERSEY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541492,1207911,0,BIRLASOFT INC,COMPUTER SYSTEMS ANALYSTS,SYSTEMS ANALYSTS,Y,62566.0,2015.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o1400,TEXAS
541493,2819406,0,"LLAMASOFT, INC",Industrial Engineers,APPLICATIONS ENGINEER,Y,56888.0,2011.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826,0o1004,MICHIGAN
541494,547615,0,"ROCKWELL AUTOMATION, INC.","ELECTRONICS ENGINEERS, EXCEPT COMPUTER",SENIOR DEVELOPMENT ENGINEER,Y,81037.0,2016.0,"EDEN PRAIRIE, MINNESOTA",-93.470786,44.854686,0o1404,MINNESOTA
541495,1880027,0,DARTMOUTH COLLEGE,Statisticians,STATISTICAL RESEARCH ANALYST,Y,58531.0,2013.0,"LEBANON, NEW HAMPSHIRE",-72.251757,43.642293,0o1100,HAMPSHIRE
541496,280084,0,"OPERA TECHNOLOGIES, INC.",COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,Y,71718.0,2016.0,"MALVERN, PENNSYLVANIA",-75.513812,40.036218,0o1400,PENNSYLVANIA
541497,1299710,0,TAKE ENTERPRISE SERVICES INC,Computer Programmers,PROGRAMMER ANALYST,Y,51210.0,2014.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087,0o1400,CAROLINA
541498,2595398,0,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,"Medical Scientists, Except Epidemiologists",ASSISTANT PROFESSOR - RESEARCH TRACK,Y,42037.0,2012.0,"DALLAS, TEXAS",-96.796988,32.776664,0o1300,TEXAS
541499,2654028,1,METRATECH CORPORATION,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,Y,60300.0,2011.0,"WALTHAM, MASSACHUSETTS",-71.235611,42.376485,0o1404,MASSACHUSETTS
541500,854920,0,IGATE TECHNOLOGIES INC.,COMPUTER PROGRAMMERS,COMPUTER PROGRAMMER,Y,61901.0,2015.0,"MILFORD, MICHIGAN",-83.600370,42.591668,0o1400,MICHIGAN
541501,767956,0,"STG, INC.",INDUSTRIAL ENGINEERS,TEST ENGINEER,Y,64792.0,2015.0,"RESTON, VIRGINIA",-77.357003,38.958631,0o1004,VIRGINIA
541502,997084,0,"DEXTRO SOFTWARE SYSTEMS, INC",MANAGEMENT ANALYSTS,BUSINESS ANALYST,Y,71906.0,2015.0,"PRINCETON JUNCTION, NEW JERSEY",-74.619879,40.317330,0o1020,JERSEY
541503,2754354,0,"AIRCELL, LLC","Computer Software Engineers, Applications",TEST ENGINEER,Y,65832.0,2011.0,"BROOMFIELD, COLORADO",-105.086650,39.920541,0o1404,COLORADO
541504,355306,0,EDI LEADER LLC.,"SOFTWARE DEVELOPERS, APPLICATIONS",BUSINESS ANALYST,N,52374.0,2016.0,"KENTON, OHIO",NaN,NaN,0o1400,OHIO
541505,1175275,0,UST GLOBAL INC.,COMPUTER PROGRAMMERS,SYSTEMS ANALYST,Y,82202.0,2015.0,"ISSAQUAH, WASHINGTON",-122.032619,47.530101,0o1400,WASHINGTON
541506,2435443,0,SIMPSON THACHER & BARTLETT LLP,Lawyers,LEGAL RESEARCH ASSOCIATE,Y,82243.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
541507,1692338,0,VINCESOLUTIONS,Computer Programmers,COMPUTER PROGRAMMER,Y,55245.0,2014.0,"BURBANK, CALIFORNIA",-118.308966,34.180839,0o1400,CALIFORNIA
541508,1925340,0,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,INDUSTRIAL DESIGNER,Y,53019.0,2013.0,"NEW HOLLAND, PENNSYLVANIA",-76.085227,40.101764,0o1400,PENNSYLVANIA
541509,1089257,0,"NISSIN FOODS (U.S.A.) COMPANY, INC.",FOOD SCIENTISTS AND TECHNOLOGISTS,SR. PROCESS CONTROL SPECIALIST,Y,43160.0,2015.0,"GARDENA, CALIFORNIA",-118.308962,33.888349,0o1104,CALIFORNIA
541510,2818910,0,"RAFFA, P.C.",Accountants and Auditors,SENIOR I ACCOUNTANT,Y,48963.0,2011.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o1002,COLUMBIA
541511,1766734,0,TATA CONSULTANCY SERVICES LIMITED,Computer Programmers,COMPUTER PROGRAMMER,Y,61318.0,2014.0,"LAKE FOREST, ILLINOIS",-87.840625,42.258634,0o1400,ILLINOIS
541512,635594,0,"TGS HEALTH CARE SOLUTIONS, LLC",OCCUPATIONAL THERAPISTS,OCCUPATIONAL THERAPIST,Y,83844.8,2016.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545,0o0,JERSEY
541513,2165806,0,IGATE TECHNOLOGIES INC.,Computer Programmers,COMPUTER PROGRAMMER,Y,50211.0,2013.0,"DOWNERS GROVE, ILLINOIS",-88.011175,41.808919,0o1400,ILLINOIS
541514,2270839,0,CAPGEMINI FINANCIAL SERVICES USA INC,Computer Systems Analysts,SENIOR CONSULTANT,Y,74422.0,2012.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158,0o1400,JERSEY
541515,2284380,0,LARSEN & TOUBRO INFOTECH LIMITED,"Computer Occupations, All Other*",SOFTWARE ENGINEER & TESTER,Y,55162.0,2012.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,0o1400,CALIFORNIA
541516,1181404,0,AMGEN INC.,STATISTICIANS,CDM SYSTEMS MANAGER,Y,94786.0,2015.0,"THOUSAND OAKS, CALIFORNIA",-118.837594,34.170561,0o1100,CALIFORNIA
541517,1374841,0,ACCENTURE LLP,Computer Programmers,COMPUTER PROGRAMMER / CONFIGURER 2,Y,82701.0,2014.0,"SEATTLE, WASHINGTON",-122.332071,47.606209,0o1400,WASHINGTON
541518,51742,1,"SOK & WOLFSON, LLC",MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,MARKETING & COMMUNICATIONS SPECIALIST,N,64563.2,2016.0,"OAKLAND, CALIFORNIA",-122.271114,37.804364,0o1010,CALIFORNIA
541519,1133603,0,"ILLUMINA, INC.",COMPUTER PROGRAMMERS,SR. SYSTEMS PROGRAMMER,Y,97594.0,2015.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,0o1400,CALIFORNIA
541520,2247374,1,CHRISTOPHER COLEMAN,Interior Designers,INTERIOR DESIGNER,Y,42765.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
541521,400077,0,ALLIANCEBERNSTEIN L.P.,"SOFTWARE DEVELOPERS, APPLICATIONS","AO, BUSINESS ANALYST",Y,90813.0,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o1400,YORK

In [23]:
df.index.size

541522

In [54]:
file_path='./datas/'
file_name=file_path+"h1b_dev_temp2.csv"
temp=pd.read_csv(file_name)
temp

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,SOC_CODE,STATE
0,2607731,1,FLORIDA INTERNATIONAL FORWARDERS,Cargo and Freight Agents,EXPORT ACCOUNT EXECUTIVE,Y,31200.00,2012.0,"MIAMI, FLORIDA",-80.191790,25.761680,0o0,FLORIDA
1,903100,0,AMERICAN HOSPITAL MANAGEMENT CO. LLC,"BOOKKEEPING, ACCOUNTING, AND AUDITING CLERKS",ACCOUNTANT,Y,36670.00,2015.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o1002,COLUMBIA
2,2683963,0,"DECOFRUT, INC",Agricultural Inspectors,QUALITY CONTROL,Y,24357.00,2011.0,"GLOUCESTER, NEW JERSEY",-75.049433,39.793381,0o0,JERSEY
3,2954734,0,"MEDITERRANEAN SHIPPING COMPANY (USA), INC.",Marine Cargo Inspectors,EXPORT DOCUMENTATION ANALYST,Y,33142.20,2011.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o0,TEXAS
4,1527397,0,INTERNATIONAL BANK OF CHICAGO,Loan Officers,LOAN REVIEW OFFICER,Y,42390.00,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
5,1816065,0,INDIANA UNIV. PURDUE UNIV. INDIANAPOLIS,Orthodontists,RESEARCH ASSISTANT PROFESSOR,Y,65847.00,2013.0,"INDIANAPOLIS, INDIANA",-86.158068,39.768403,0o0,INDIANA
6,624253,0,NEW ENGLAND COLLEGE OF OPTOMETRY,OPTOMETRISTS,ATTENDING OPTOMETRIST,Y,72738.00,2016.0,"ROXBURY, MASSACHUSETTS",-71.091375,42.315198,0o0,MASSACHUSETTS
7,1981735,0,CHINESE GOSPEL CHURCH OF PORTLAND,Clergy,MINISTER,Y,41059.00,2013.0,"CUMBERLAND, MAINE",NaN,NaN,0o0,MAINE
8,1586598,0,LES METALLIERS CHAMPENOIS CORPORATION,"Construction and Related Workers, All Other",SPECIALTY METALS PROJECT COORDINATOR,Y,59446.00,2014.0,"PATERSON, NEW JERSEY",-74.171811,40.916765,0o0,JERSEY
9,647093,1,PACIFIC TRELLIS FRUIT LLC,CUSTOMER SERVICE REPRESENTATIVES,GROWER RELATIONS,N,50000.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0o0,CALIFORNIA
10,635471,0,ST. BARNABAS HOSPITAL,PODIATRISTS,PODIATRY RESIDENT,N,51641.00,2016.0,"BRONX, NEW YORK",-73.864827,40.844782,0o0,YORK
11,2987240,0,"ACROSS NATIONS PIONEERS, INC.",Loan Officers,LOAN OFFICER,N,58801.60,2011.0,"ENGLEWOOD, NEW JERSEY",-73.972638,40.892877,0o0,JERSEY
12,2560326,0,"ALAN B. HELIG, D.D.S.",Dental Assistants,PATIENT CARE/TREATMENT COORDINATOR,Y,32656.00,2012.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o0,COLUMBIA
13,2943611,0,"MULCAHY RACING STABLES, LLC","First-Line Supervisors of Farming, Fishing, an...",THOROUGHBRED HORSE TRAINER,Y,38459.00,2011.0,"PARIS, KENTUCKY",NaN,NaN,0o0,KENTUCKY
14,583949,0,UNIVERSITY OF ARKANSAS,ASTRONOMERS,RESEARCH ASSOCIATE,N,50315.00,2016.0,"FAYETTEVILLE, ARKANSAS",-94.157426,36.062579,0o0,ARKANSAS
15,2700318,0,TRANSLATION LLC,Copy Writers,ADVERTISING COPY WRITER,Y,47819.20,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
16,1505532,0,LUXOTTICA RETAIL NORTH AMERICA INC.,Optometrists,ASSOCIATE OPTOMETRIST,Y,93912.00,2014.0,"WARRINGTON, PENNSYLVANIA",NaN,NaN,0o0,PENNSYLVANIA
17,1547230,0,"WILMINGTON SAVINGS FUND SOCIETY, FSB",Loan Officers,CORPORATE BANKING TRAINEE/OFFICER,Y,37523.20,2014.0,"WILMINGTON, DELAWARE",-75.539788,39.739072,0o0,DELAWARE
18,2786637,0,KENTS HILL SCHOOL,Residential Advisors,ASSISTANT DIRECTOR OF THE INTERNATIONAL STUDEN...,Y,21341.00,2011.0,"KENTS HILL, MAINE",NaN,NaN,0o0,MAINE
19,643684,0,"TWIN CITY YOUTH SOCCER ASSOCIATION, INC.",RECREATION WORKERS,"PHYSICAL DEVELOPMENT, HEALTH AND WELLNESS DIRE...",N,27290.00,2016.0,"ADVANCE, NORTH CAROLINA",NaN,NaN,0o0,CAROLINA
20,1097745,0,UNIVERSITY OF MARYLAND COLLEGE PARK,GEOGRAPHERS,ASSISTANT RESEARCH PROFESSOR,Y,48048.00,2015.0,"COLLEGE PARK, MARYLAND",-76.937760,38.989697,0o0,MARYLAND
21,1290976,1,UNIVERSITY OF CENTRAL FLORIDA,Librarians,REGIONAL CAMPUS LIBRARIAN,Y,42307.00,2014.0,"CLERMONT, FLORIDA",NaN,NaN,0o1020,FLORIDA
22,2170395,0,HOPE FAMILY CLINIC,Rehabilitation Counselors,BEHAVIORAL HEALTH REHABILITATION SPECIALIST,Y,18574.00,2013.0,"LAWTON, OKLAHOMA",-98.395929,34.603567,0o1200,OKLAHOMA
23,2156627,0,THE UNIVERSITY OF TEXAS AT AUSTIN,Hydrologists,POSTDOCTORAL FELLOW,Y,45635.00,2013.0,"AUSTIN, TEXAS",-97.743061,30.267153,0o0,TEXAS
24,2779938,0,JESUIT COLLEGE PREPARATORY SCHOOL OF DALLAS,Athletic Trainers,ATHLETIC TRAINER,Y,34410.00,2011.0,"DALLAS, TEXAS",-96.796988,32.776664,0o1001,TEXAS
25,962361,0,DR. Q. PAIN & SPINE PA,ANESTHESIOLOGISTS,ANESTHESIOLOGY,Y,187000.00,2015.0,"CONWAY, ARKANSAS",-92.442101,35.088696,0o1200,ARKANSAS
26,2500159,0,NGP V MANAGEMENT LLC,"Bookkeeping, Accounting, and Auditing Clerks",DUE DILIGENCE/CLOSING COORDINATOR AND ACCOUNTS...,Y,36504.00,2012.0,"MCLEAN, VIRGINIA",-77.177260,38.933868,0o1002,VIRGINIA
27,2816125,1,MIDEA AMERICA CORP,"Bookkeeping, Accounting, and Auditing Clerks",ACCOUNTING SPECIALIST,Y,32750.00,2011.0,"PARSIPPANY, NEW JERSEY",-74.417388,40.865286,0o1002,JERSEY
28,623872,0,ISMILE ORTHODONTICS LLC.,ORTHODONTISTS,ORTHODONTIST,Y,187200.00,2016.0,"WHITE PLAINS, NEW YORK",-73.762910,41.033986,0o0,YORK
29,1810192,0,"COLQUITT REGIONAL ANESTHESIA, LLC",Anesthesiologists,ANESTHESIOLOGIST,Y,166400.00,2013.0,"MOULTRIE, GEORGIA",NaN,NaN,0o1200,GEORGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,2802783,1,"IRELI CONSTRUCTION COMPANY, INC.","Bookkeeping, Accounting, and Auditing Clerks",OFFICE MANAGER/BOOKKEEPER,Y,23130.00,2011.0,"HONOLULU, HAWAII",-157.858333,21.306944,0o1002,HAWAII
3521,1687580,0,WEST VIRGINIA WESLEYAN COLLEGE,Athletic Trainers,ASSISTANT ATHLETIC TRAINER,Y,33020.00,2014.0,"BUCKHANNON, WEST VIRGINIA",NaN,NaN,0o1001,VIRGINIA
3522,1943758,0,INFOSYS BPO LTD.,First-Line Supervisors of Office and Administr...,OPERATIONS MANAGER - US,Y,58261.00,2013.0,"SEATTLE, WASHINGTON",-122.332071,47.606209,0o0,WASHINGTON
3523,2967161,0,"ELIE TAHARI, LTD",First-Line Supervisors of Production and Opera...,PRODUCTION COORDINATOR - MEN'S,Y,38334.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
3524,1296053,0,ALLIANCE OCCUPATIONAL MEDICINE,Chiropractors,ASSOCIATE CHIROPRACTOR,Y,66123.00,2014.0,"MILPITAS, CALIFORNIA",-121.899574,37.432334,0o1200,CALIFORNIA
3525,2544557,0,SELECT MEDICAL CORPORATION,Athletic Trainers,ATHLETIC TRAINER CERTIFIED,Y,29450.00,2012.0,"CINCINNATI, OHIO",-84.512020,39.103118,0o1001,OHIO
3526,2486472,0,ST. THOMAS FEDERAL CREDIT UNION,"Office Clerks, General",MEMBER SERVICE REPRESENTATIVE,Y,18283.20,2012.0,"CHARLOTTE AMALIE, NA",NaN,NaN,0o0,NaN
3527,643782,0,SABRAGE HOLDINGS LLC,"PERSONAL CARE AND SERVICE WORKERS, ALL OTHER",SPA COORDINATOR,N,26499.20,2016.0,"NORTH BETHESDA, MARYLAND",-77.118868,39.044553,0o0,MARYLAND
3528,681170,0,THE UNIVERSITY OF CHICAGO,ASTRONOMERS,RESEARCH SCIENTIST,Y,51958.00,2015.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
3529,2416427,1,REGAL HEIGHTS REHABILITATION AND HEALTH CARE C...,Rehabilitation Counselors,REHABILITATION COUNSELOR,Y,44075.20,2012.0,"JACKSON HEIGHTS, NEW YORK",-73.883070,40.755682,0o1200,YORK
3530,2339541,0,WEIGHT WATCHERS INTERNATIONAL INC.,Dietitians and Nutritionists,NUTRITIONIST,N,72716.80,2012.0,"KISSIMMEE, FLORIDA",-81.407571,28.291956,0o1001,FLORIDA
3531,2771066,0,"MANATT, PHELPS & PHILLIPS, LLP",Sociologists,SENIOR ANALYST - HEALTH SOLUTIONS,Y,54184.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
3532,2551748,0,OSATO MEDICAL CLINIC,Dietitians and Nutritionists,DIETICIAN/HEALTH ADMINISTRATOR,N,73444.80,2012.0,"TORRANCE, CALIFORNIA",-118.340629,33.835849,0o1001,CALIFORNIA
3533,780428,0,THE UNIVERISTY OF SOUTHERN MISSISIPPI,MUSICIANS AND SINGERS,STAFF ACCOMPANIST,Y,17264.00,2015.0,"HATTIESBURG, MISSISSIPPI",-89.290339,31.327119,0o0,MISSISSIPPI
3534,1770125,0,THE BROOKDALE UNIVERSITY HOSPITAL AND MEDICAL ...,Dietitians and Nutritionists,REGISTERED DIETITIAN,Y,50950.38,2014.0,"BROOKLYN, NEW YORK",-73.944158,40.678178,0o1001,YORK
3535,1948907,0,CAMERON UNIVERSITY,Librarians,LIBRARIAN,Y,35734.00,2013.0,"LAWTON, OKLAHOMA",-98.395929,34.603567,0o1020,OKLAHOMA
3536,1315267,0,THE DEVEREUX FOUNDATION,Rehabilitation Counselors,REHABILITATION COUNSELOR (DIRECT CARE PROFESSI...,Y,25314.00,2014.0,"RUTLAND, MASSACHUSETTS",-71.948121,42.369509,0o1200,MASSACHUSETTS
3537,2014019,0,LAKE ERIE MEDICAL SERVICES PC,Obstetricians and Gynecologists,PHYSICIAN - OBSTETRICS & GYNECOLOGY,Y,200470.00,2013.0,"DUNKIRK, NEW YORK",NaN,NaN,0o1200,YORK
3538,1403343,0,"HERITAGE CARE, INC.","Social Workers, All Other",SOCIAL WORKER,Y,49587.00,2014.0,"ANNAPOLIS, MARYLAND",-76.492183,38.978445,0o0,MARYLAND
3539,2401317,1,METRO CITY BANK,Loan Officers,LOAN OFFICER,Y,40581.00,2012.0,"DORAVILLE, GEORGIA",-84.283256,33.898158,0o0,GEORGIA
3540,2698729,0,KITA CAPITAL MANAGEMENT LLC,"Bookkeeping, Accounting, and Auditing Clerks",ACCOUNTING CLERK,Y,41205.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o1002,YORK
3541,1732557,0,THE UNIVERSITY OF CHICAGO,Recreation Workers,ATHLETICS MANAGER - COMMUNITY RELATIONS/MARKETING,Y,25667.00,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
3542,584007,0,AURA/SPACE TELESCOPE SCIENCE INSTITUTE,ASTRONOMERS,RESEARCH INSTRUMENT ANALYST II,N,49296.00,2016.0,"BALTIMORE, MARYLAND",-76.612189,39.290385,0o0,MARYLAND
3543,2933510,0,"SOCIAL SOLUTIONS INTERNATIONAL, INC.",Epidemiologists,"DIRECTOR, CARIBBEAN RESEARCH",N,69804.80,2011.0,"SILVER SPRING, MARYLAND",-77.026088,38.990666,0o1100,MARYLAND
3544,2708067,0,"HANKYU HANSHIN EXPRESS (USA), INC.","Transportation Workers, All Other",EXPORT COORDINATOR,Y,28995.00,2011.0,"JAMAICA, NEW YORK",-73.788969,40.702677,0o0,YORK
3545,1043995,0,CLEARFIELD-JEFFERSON HEAD & NECK SURGICAL ASSO...,AUDIOLOGISTS,AUDIOLOGIST,Y,52915.00,2015.0,"DUBOIS, PENNSYLVANIA",NaN,NaN,0o0,PENNSYLVANIA
3546,2719041,0,SCHOLASTIC EDUCATION INC.,Athletic Trainers,ICE SKATING COACH,N,36504.00,2011.0,"NORTH POTOMAC, MARYLAND",NaN,NaN,0o1001,MARYLAND
3547,2936626,0,ALTUS GROUP U.S. INC.,Appraisers and Assessors of Real Estate,SENIOR CONSULTANT,Y,62005.00,2011.0,"IRVINE, CALIFORNIA",-117.794694,33.683947,0o0,CALIFORNIA
3548,2323276,0,UNIVERSITY OF NEW HAMPSHIRE,Residential Advisors,RESIDENCE HALL DIRECTOR,Y,28163.00,2012.0,"DURHAM, NEW HAMPSHIRE",-70.926439,43.133955,0o0,HAMPSHIRE
3549,1724847,0,ARIZONA STATE UNIVERSITY,Hydrologists,RESEARCH ENGINEER,Y,49754.00,2014.0,"TEMPE, ARIZONA",-111.940005,33.425510,0o0,ARIZONA

In [55]:
temp2=temp[temp["SOC_CODE"]=='0o0']
temp2

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,SOC_CODE,STATE
0,2607731,1,FLORIDA INTERNATIONAL FORWARDERS,Cargo and Freight Agents,EXPORT ACCOUNT EXECUTIVE,Y,31200.0,2012.0,"MIAMI, FLORIDA",-80.191790,25.761680,0o0,FLORIDA
2,2683963,0,"DECOFRUT, INC",Agricultural Inspectors,QUALITY CONTROL,Y,24357.0,2011.0,"GLOUCESTER, NEW JERSEY",-75.049433,39.793381,0o0,JERSEY
3,2954734,0,"MEDITERRANEAN SHIPPING COMPANY (USA), INC.",Marine Cargo Inspectors,EXPORT DOCUMENTATION ANALYST,Y,33142.2,2011.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o0,TEXAS
4,1527397,0,INTERNATIONAL BANK OF CHICAGO,Loan Officers,LOAN REVIEW OFFICER,Y,42390.0,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
5,1816065,0,INDIANA UNIV. PURDUE UNIV. INDIANAPOLIS,Orthodontists,RESEARCH ASSISTANT PROFESSOR,Y,65847.0,2013.0,"INDIANAPOLIS, INDIANA",-86.158068,39.768403,0o0,INDIANA
6,624253,0,NEW ENGLAND COLLEGE OF OPTOMETRY,OPTOMETRISTS,ATTENDING OPTOMETRIST,Y,72738.0,2016.0,"ROXBURY, MASSACHUSETTS",-71.091375,42.315198,0o0,MASSACHUSETTS
7,1981735,0,CHINESE GOSPEL CHURCH OF PORTLAND,Clergy,MINISTER,Y,41059.0,2013.0,"CUMBERLAND, MAINE",NaN,NaN,0o0,MAINE
8,1586598,0,LES METALLIERS CHAMPENOIS CORPORATION,"Construction and Related Workers, All Other",SPECIALTY METALS PROJECT COORDINATOR,Y,59446.0,2014.0,"PATERSON, NEW JERSEY",-74.171811,40.916765,0o0,JERSEY
9,647093,1,PACIFIC TRELLIS FRUIT LLC,CUSTOMER SERVICE REPRESENTATIVES,GROWER RELATIONS,N,50000.0,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0o0,CALIFORNIA
10,635471,0,ST. BARNABAS HOSPITAL,PODIATRISTS,PODIATRY RESIDENT,N,51641.0,2016.0,"BRONX, NEW YORK",-73.864827,40.844782,0o0,YORK
11,2987240,0,"ACROSS NATIONS PIONEERS, INC.",Loan Officers,LOAN OFFICER,N,58801.6,2011.0,"ENGLEWOOD, NEW JERSEY",-73.972638,40.892877,0o0,JERSEY
12,2560326,0,"ALAN B. HELIG, D.D.S.",Dental Assistants,PATIENT CARE/TREATMENT COORDINATOR,Y,32656.0,2012.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o0,COLUMBIA
13,2943611,0,"MULCAHY RACING STABLES, LLC","First-Line Supervisors of Farming, Fishing, an...",THOROUGHBRED HORSE TRAINER,Y,38459.0,2011.0,"PARIS, KENTUCKY",NaN,NaN,0o0,KENTUCKY
14,583949,0,UNIVERSITY OF ARKANSAS,ASTRONOMERS,RESEARCH ASSOCIATE,N,50315.0,2016.0,"FAYETTEVILLE, ARKANSAS",-94.157426,36.062579,0o0,ARKANSAS
15,2700318,0,TRANSLATION LLC,Copy Writers,ADVERTISING COPY WRITER,Y,47819.2,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
16,1505532,0,LUXOTTICA RETAIL NORTH AMERICA INC.,Optometrists,ASSOCIATE OPTOMETRIST,Y,93912.0,2014.0,"WARRINGTON, PENNSYLVANIA",NaN,NaN,0o0,PENNSYLVANIA
17,1547230,0,"WILMINGTON SAVINGS FUND SOCIETY, FSB",Loan Officers,CORPORATE BANKING TRAINEE/OFFICER,Y,37523.2,2014.0,"WILMINGTON, DELAWARE",-75.539788,39.739072,0o0,DELAWARE
18,2786637,0,KENTS HILL SCHOOL,Residential Advisors,ASSISTANT DIRECTOR OF THE INTERNATIONAL STUDEN...,Y,21341.0,2011.0,"KENTS HILL, MAINE",NaN,NaN,0o0,MAINE
19,643684,0,"TWIN CITY YOUTH SOCCER ASSOCIATION, INC.",RECREATION WORKERS,"PHYSICAL DEVELOPMENT, HEALTH AND WELLNESS DIRE...",N,27290.0,2016.0,"ADVANCE, NORTH CAROLINA",NaN,NaN,0o0,CAROLINA
20,1097745,0,UNIVERSITY OF MARYLAND COLLEGE PARK,GEOGRAPHERS,ASSISTANT RESEARCH PROFESSOR,Y,48048.0,2015.0,"COLLEGE PARK, MARYLAND",-76.937760,38.989697,0o0,MARYLAND
23,2156627,0,THE UNIVERSITY OF TEXAS AT AUSTIN,Hydrologists,POSTDOCTORAL FELLOW,Y,45635.0,2013.0,"AUSTIN, TEXAS",-97.743061,30.267153,0o0,TEXAS
28,623872,0,ISMILE ORTHODONTICS LLC.,ORTHODONTISTS,ORTHODONTIST,Y,187200.0,2016.0,"WHITE PLAINS, NEW YORK",-73.762910,41.033986,0o0,YORK
31,2747750,0,SAFE WATER NETWORK,Soil Conservationists,ASSOCIATE PROGRAM MANAGER,Y,57949.0,2011.0,"WESTPORT, CONNECTICUT",-73.357905,41.141472,0o0,CONNECTICUT
32,619447,0,"SOUTHERN CHINESE DAILY NEWS, LLC",BROADCAST NEWS ANALYSTS,NEWS ANCHOR,N,30097.6,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427,0o0,TEXAS
33,1234887,0,THE UNIVERSITY OF ARIZONA,ASTRONOMERS,SERVICE OBSERVER,Y,50315.0,2015.0,"SAFFORD, ARIZONA",NaN,NaN,0o0,ARIZONA
34,2241099,1,"IMA GROUP, INC.",Fitness Trainers and Aerobics Instructors,FITNESS PROGRAM INSTRUCTOR,Y,38688.0,2012.0,"LAS VEGAS, NEVADA",-115.139830,36.169941,0o0,NEVADA
36,590803,0,GEORGE MASON UNIVERSITY,GEOGRAPHERS,RESEARCH ASSISTANT PROFESSOR,N,34986.0,2016.0,"FAIRFAX, VIRGINIA",-77.306373,38.846224,0o0,VIRGINIA
37,2897255,0,COLUMBIA UNIVERSITY,Hydrologists,ASSOSCIATE RESEARCH SCIENTIST,Y,58344.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
40,1045203,0,IN CHRIST CHURCH,CLERGY,PASTOR,Y,32302.0,2015.0,"WHITTIER, CALIFORNIA",-118.032844,33.979179,0o0,CALIFORNIA
41,682723,0,UNIVERSITY CORPORATION FOR ATMOSPHERIC RESEARCH,HYDROLOGISTS,PROJECT SCIENTIST II,Y,61381.0,2015.0,"BOULDER, COLORADO",-105.270546,40.014986,0o0,COLORADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3504,1852471,0,QUALITY FRUIT SURVEYS INC.,Agricultural Inspectors,QUALITY CONTROL ENGINEER,Y,25064.0,2013.0,"GLOUCESTER CITY, NEW JERSEY",-75.116286,39.891780,0o0,JERSEY
3505,2341401,0,CAMP VEGA,Photographers,PHOTOGRAPHER,Y,26312.0,2012.0,"FAYETTE, MAINE",NaN,NaN,0o0,MAINE
3506,2060792,0,SAYBOLT LP,Transportation Inspectors,INSPECTION SUPERVISOR,Y,47237.0,2013.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625,0o0,PENNSYLVANIA
3507,1780665,1,AKF GROUP LLC,"Office and Administrative Support Workers, All...",ADMINISTRATIVE ASSISTANT,Y,27768.0,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
3508,2249967,0,VALIANTICA INC,Personnel Recruiters,TECHNICAL RECRUITER,N,48131.2,2012.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0o0,CALIFORNIA
3509,728662,0,WORCESTER KOREAN UNITED METHODIST CHURCH,CLERGY,PASTOR,N,39124.8,2015.0,"WORCESTER, MASSACHUSETTS",-71.802293,42.262593,0o0,MASSACHUSETTS
3510,2888154,0,OREGON ENERGY LLC,Geologists,SENIOR GEOLOGIST,Y,80724.8,2011.0,"MCDERMITT, NEVADA",NaN,NaN,0o0,NEVADA
3512,1452478,0,LARSEN & TOUBRO TECHNOLOGY SERVICES LTD,DATA WAREHOUSING SPECIALISTS,DATA WAREHOUSE SYSTEMS ENGINEER,Y,43222.0,2014.0,"NEW ORLEANS, LOUISIANA",-90.071532,29.951066,0o0,LOUISIANA
3513,639897,0,UFIT TENNESSEE INC.,EXERCISE PHYSIOLOGISTS,SPECIAL POPULATIONS EXERCISE COORDINATOR,N,44907.2,2016.0,"MURFREESBORO, TENNESSEE",-86.390270,35.845621,0o0,TENNESSEE
3515,909356,0,SUNIPRA USA INC,"TEXTILE, APPAREL, AND FURNISHINGS WORKERS, ALL",MERCHANDISE MANAGER,Y,40102.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
3516,1438737,0,"GENEX COOPERATIVE, INC.",Animal Breeders,REGIONAL ACCOUNT SPECIALIST,Y,45698.0,2014.0,"SHAWANO, WISCONSIN",NaN,NaN,0o0,WISCONSIN
3517,2114822,0,"IHS GLOBAL, INC.",Geographers,CONSULTANT (ECONOMIC GEOGRAPHER),Y,62317.0,2013.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0o0,COLUMBIA
3518,2431093,0,NORDIC LOGISTICS & WAREHOUSING,"Office and Administrative Support Workers, All...",ENGINEERING ASSISTANT,Y,26852.8,2012.0,"ATLANTA, GEORGIA",-84.387982,33.748995,0o0,GEORGIA
3519,2157108,1,MURPHY-BROWN LLC,Animal Breeders,HEAD OF DEPARTMENT,Y,29453.0,2013.0,"MAPLE HILL, NORTH CAROLINA",NaN,NaN,0o0,CAROLINA
3522,1943758,0,INFOSYS BPO LTD.,First-Line Supervisors of Office and Administr...,OPERATIONS MANAGER - US,Y,58261.0,2013.0,"SEATTLE, WASHINGTON",-122.332071,47.606209,0o0,WASHINGTON
3523,2967161,0,"ELIE TAHARI, LTD",First-Line Supervisors of Production and Opera...,PRODUCTION COORDINATOR - MEN'S,Y,38334.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
3526,2486472,0,ST. THOMAS FEDERAL CREDIT UNION,"Office Clerks, General",MEMBER SERVICE REPRESENTATIVE,Y,18283.2,2012.0,"CHARLOTTE AMALIE, NA",NaN,NaN,0o0,NaN
3527,643782,0,SABRAGE HOLDINGS LLC,"PERSONAL CARE AND SERVICE WORKERS, ALL OTHER",SPA COORDINATOR,N,26499.2,2016.0,"NORTH BETHESDA, MARYLAND",-77.118868,39.044553,0o0,MARYLAND
3528,681170,0,THE UNIVERSITY OF CHICAGO,ASTRONOMERS,RESEARCH SCIENTIST,Y,51958.0,2015.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
3531,2771066,0,"MANATT, PHELPS & PHILLIPS, LLP",Sociologists,SENIOR ANALYST - HEALTH SOLUTIONS,Y,54184.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0o0,YORK
3533,780428,0,THE UNIVERISTY OF SOUTHERN MISSISIPPI,MUSICIANS AND SINGERS,STAFF ACCOMPANIST,Y,17264.0,2015.0,"HATTIESBURG, MISSISSIPPI",-89.290339,31.327119,0o0,MISSISSIPPI
3538,1403343,0,"HERITAGE CARE, INC.","Social Workers, All Other",SOCIAL WORKER,Y,49587.0,2014.0,"ANNAPOLIS, MARYLAND",-76.492183,38.978445,0o0,MARYLAND
3539,2401317,1,METRO CITY BANK,Loan Officers,LOAN OFFICER,Y,40581.0,2012.0,"DORAVILLE, GEORGIA",-84.283256,33.898158,0o0,GEORGIA
3541,1732557,0,THE UNIVERSITY OF CHICAGO,Recreation Workers,ATHLETICS MANAGER - COMMUNITY RELATIONS/MARKETING,Y,25667.0,2014.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0o0,ILLINOIS
3542,584007,0,AURA/SPACE TELESCOPE SCIENCE INSTITUTE,ASTRONOMERS,RESEARCH INSTRUMENT ANALYST II,N,49296.0,2016.0,"BALTIMORE, MARYLAND",-76.612189,39.290385,0o0,MARYLAND
3544,2708067,0,"HANKYU HANSHIN EXPRESS (USA), INC.","Transportation Workers, All Other",EXPORT COORDINATOR,Y,28995.0,2011.0,"JAMAICA, NEW YORK",-73.788969,40.702677,0o0,YORK
3545,1043995,0,CLEARFIELD-JEFFERSON HEAD & NECK SURGICAL ASSO...,AUDIOLOGISTS,AUDIOLOGIST,Y,52915.0,2015.0,"DUBOIS, PENNSYLVANIA",NaN,NaN,0o0,PENNSYLVANIA
3547,2936626,0,ALTUS GROUP U.S. INC.,Appraisers and Assessors of Real Estate,SENIOR CONSULTANT,Y,62005.0,2011.0,"IRVINE, CALIFORNIA",-117.794694,33.683947,0o0,CALIFORNIA
3548,2323276,0,UNIVERSITY OF NEW HAMPSHIRE,Residential Advisors,RESIDENCE HALL DIRECTOR,Y,28163.0,2012.0,"DURHAM, NEW HAMPSHIRE",-70.926439,43.133955,0o0,HAMPSHIRE
3549,1724847,0,ARIZONA STATE UNIVERSITY,Hydrologists,RESEARCH ENGINEER,Y,49754.0,2014.0,"TEMPE, ARIZONA",-111.940005,33.425510,0o0,ARIZONA

In [52]:
save_file=file_path+'h1b_dev_temp.csv'
temp2.to_csv(save_file,index=False)

In [56]:
temp2.SOC_NAME.value_counts()

Clergy                                                113
Recreation Workers                                     68
Geographers                                            63
First-Line Supervisors of Office and Administrativ     63
Astronomers                                            59
Agricultural Inspectors                                58
Insurance Underwriters                                 50
Hydrologists                                           47
Social Workers, All Other                              46
Optometrists                                           44
Personnel Recruiters                                   44
ASTRONOMERS                                            44
OPTOMETRISTS                                           43
Animal Breeders                                        43
Sociologists                                           40
Loan Officers                                          40
Fitness Trainers and Aerobics Instructors              32
RECREATION WORKERS                                     31
Customer Service Representatives                       30
Counselors, All Other                                  29
Office and Administrative Support Workers, All Oth     29
CLERGY                                                 27
Archivists                                             26
INSURANCE UNDERWRITERS                                 26
Substance Abuse and Behavioral Disorder Counselors     25
Producers                                              25
LOAN OFFICERS                                          24
Residential Advisors                                   23
GEOGRAPHERS                                            23
HYDROLOGISTS                                           22
                                                     ...
FORESTERS                                               1
Secretaries and Administrative Assistants, Except       1
Heavy and Tractor-Trailer Truck Drivers                 1
RADIO AND TELEVISION ANNOUNCERS                         1
Insurance Adjusters, Examiners, and Investigators       1
WEB ADMINISTRATORS                                      1
HEATING, AIR CONDITIONING, AND REFRIGERATION            1
INTERNIST, GENERAL                                      1
Library Assistants, Clerical                            1
ELECTRICAL ENGINERS                                     1
FRAUD EXAMINERS, INVESTIGATORS AND ANALYSTS             1
Amusement and Recreation Attendants                     1
Title Examiners, Abstractors, and Searchers             1
Demonstrators and Product Promoters                     1
REAL ESTATE BROKERS                                     1
Anthropologists                                         1
Aircraft Structure, Surfaces, Rigging, and Systems      1
MANAGMENT ANALYSTS                                      1
ATTORNEY                                                1
TREE TRIMMERS AND PRUNERS                               1
Janitors and Cleaners, Except Maids and Housekeepi      1
Bill and Account Collectors                             1
Dispatchers, Except Police, Fire, and Ambulance         1
METAL WORKERS AND PLASTIC WORKERS, ALL OTHER            1
Opticians, Dispensing                                   1
Claims Examiners, Property and Casualty Insurance       1
Child Care Workers                                      1
Helpers--Installation, Maintenance, and Repair Wor      1
First-Line Supervisors of Personal Service Workers      1
FAMILY AND GENERAL PRACTIONERS                          1
Name: SOC_NAME, Length: 299, dtype: int64

In [28]:
df[df["SOC_CODE"]=='0o0'].SOC_NAME.value_counts()

Internists, General                                   1700
Graphic Designers                                     1468
Pharmacists                                           1354
Lawyers                                                893
Logisticians                                           829
INTERNISTS, GENERAL                                    799
GRAPHIC DESIGNERS                                      768
Family and General Practitioners                       729
Occupational Therapists                                685
LOGISTICIANS                                           606
LAWYERS                                                552
Economists                                             508
HUMAN RESOURCES SPECIALISTS                            475
Cost Estimators                                        422
Instructional Coordinators                             409
Credit Analysts                                        403
Actuaries                                              400
Pediatricians, General                                 397
PHARMACISTS                                            384
Budget Analysts                                        375
Fashion Designers                                      366
Coaches and Scouts                                     353
Speech-Language Pathologists                           336
Multimedia Artists and Animators                       329
FAMILY AND GENERAL PRACTITIONERS                       324
Training and Development Specialists                   317
ECONOMISTS                                             302
Editors                                                299
Interior Designers                                     297
Veterinarians                                          283
                                                      ...
Drilling and Boring Machine Tool Setters, Operator       1
Photographic Process Workers and Processing Machin       1
MILLWRIGHTS                                              1
Refrigeration Mechanics                                  1
INTERNIST                                                1
Massage Therapists                                       1
Electronic Equipment Installers and Repairers, Mot       1
FIRST-LINE SUPERVISORS OF FIRE FIGHTING AND              1
Bill and Account Collectors                              1
Adhesive Bonding Machine Operators and Tenders           1
FIRST-LINE SUPERVISORS OF FOOD PREPARATION AND SER       1
SEPTIC TANK SERVICERS AND SEWER PIPE CLEANERS            1
SHOE AND LEATHER WORKERS AND REPAIRERS                   1
Construction and Related Workers, All Other              1
ADULT BASIC AND SECONDARY EDUCATION AND LITERACY T       1
CREDIT ANALYST                                           1
FAMILY AND GENERAL PRACTICIONERS                         1
Painters, Transportation Equipment                       1
Gem and Diamond Workers                                  1
PRINTING PRESS OPERATORS                                 1
Installation, Maintenance, and Repair Workers, All       1
Sales Representatives, Mechanical Equipment and Su       1
Construction Laborers                                    1
TILE AND MARBLE SETTERS                                  1
Nonfarm Animal Caretakers                                1
REGULATORY AFFAIRS SPECIALIST                            1
BILL AND ACCOUNT COLLECTORS                              1
Bartenders                                               1
Appraisers, Real Estate                                  1
Forest and Conservation Technicians                      1
Name: SOC_NAME, Length: 572, dtype: int64

In [7]:
df=df.drop("Unnamed: 0",axis=1)
df=df.drop("EMPLOYER_NAME",axis=1)
df=df.drop("SOC_NAME",axis=1)
df=df.drop("JOB_TITLE",axis=1)
df=df.drop("WORKSITE",axis=1)
df=df.drop("lon",axis=1)
df=df.drop("lat",axis=1)

In [8]:
df['FULL_TIME_POSITION'] = df['FULL_TIME_POSITION'].fillna(df['FULL_TIME_POSITION'].mode()[0])
df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].fillna(0)

In [9]:
df

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,SOC_CODE,STATE
0,0,Y,54496.0,2013.0,0o1400,TEXAS
1,0,Y,62046.0,2015.0,0o1400,TEXAS
2,0,N,97635.2,2014.0,0o1200,OHIO
3,0,Y,101130.0,2014.0,0o1200,ILLINOIS
4,0,Y,75982.0,2014.0,0o1400,MASSACHUSETTS
5,0,Y,67038.0,2013.0,0o1400,MINNESOTA
6,0,Y,50461.0,2012.0,0o1300,WISCONSIN
7,0,Y,74214.0,2016.0,0o1400,MASSACHUSETTS
8,0,Y,48400.0,2012.0,0o1004,CALIFORNIA
9,0,Y,48430.0,2013.0,0o1050,WISCONSIN
10,0,Y,57179.0,2012.0,0o1400,JERSEY
11,0,Y,109429.0,2016.0,0o1420,TEXAS
12,0,Y,66830.0,2012.0,0o1400,WISCONSIN
13,0,Y,73112.0,2015.0,0o1400,KANSAS
14,0,Y,73923.0,2015.0,0o1400,CALIFORNIA
15,0,Y,95326.0,2015.0,0o1004,OREGON
16,0,Y,83408.0,2014.0,0o1400,MARYLAND
17,0,Y,56160.0,2014.0,0o1400,OHIO
18,0,N,52686.0,2016.0,0o1400,CAROLINA
19,0,Y,68411.0,2014.0,0o1400,CAROLINA
20,0,Y,80725.0,2012.0,0o1400,UTAH
21,0,Y,41808.0,2014.0,0o1300,TEXAS
22,0,Y,72717.0,2016.0,0o1400,TEXAS
23,0,Y,76898.0,2015.0,0o1420,YORK
24,0,Y,50814.0,2014.0,0o1400,CONNECTICUT
25,0,Y,67725.0,2012.0,0o1404,CALIFORNIA
26,0,Y,47632.0,2015.0,0o1400,CONNECTICUT
27,0,Y,40980.0,2015.0,0o1040,GEORGIA
28,0,Y,59280.0,2015.0,0o1400,PENNSYLVANIA
29,0,Y,71510.0,2014.0,0o1400,JERSEY
...,...,...,...,...,...,...
541492,0,Y,62566.0,2015.0,0o1400,TEXAS
541493,0,Y,56888.0,2011.0,0o1004,MICHIGAN
541494,0,Y,81037.0,2016.0,0o1404,MINNESOTA
541495,0,Y,58531.0,2013.0,0o1100,HAMPSHIRE
541496,0,Y,71718.0,2016.0,0o1400,PENNSYLVANIA
541497,0,Y,51210.0,2014.0,0o1400,CAROLINA
541498,0,Y,42037.0,2012.0,0o1300,TEXAS
541499,1,Y,60300.0,2011.0,0o1404,MASSACHUSETTS
541500,0,Y,61901.0,2015.0,0o1400,MICHIGAN
541501,0,Y,64792.0,2015.0,0o1004,VIRGINIA
541502,0,Y,71906.0,2015.0,0o1020,JERSEY
541503,0,Y,65832.0,2011.0,0o1404,COLORADO
541504,0,N,52374.0,2016.0,0o1400,OHIO
541505,0,Y,82202.0,2015.0,0o1400,WASHINGTON
541506,0,Y,82243.0,2012.0,0o0,YORK
541507,0,Y,55245.0,2014.0,0o1400,CALIFORNIA
541508,0,Y,53019.0,2013.0,0o1400,PENNSYLVANIA
541509,0,Y,43160.0,2015.0,0o1104,CALIFORNIA
541510,0,Y,48963.0,2011.0,0o1002,COLUMBIA
541511,0,Y,61318.0,2014.0,0o1400,ILLINOIS
541512,0,Y,83844.8,2016.0,0o0,JERSEY
541513,0,Y,50211.0,2013.0,0o1400,ILLINOIS
541514,0,Y,74422.0,2012.0,0o1400,JERSEY
541515,0,Y,55162.0,2012.0,0o1400,CALIFORNIA
541516,0,Y,94786.0,2015.0,0o1100,CALIFORNIA
541517,0,Y,82701.0,2014.0,0o1400,WASHINGTON
541518,1,N,64563.2,2016.0,0o1010,CALIFORNIA
541519,0,Y,97594.0,2015.0,0o1400,CALIFORNIA
541520,1,Y,42765.0,2012.0,0o0,YORK
541521,0,Y,90813.0,2016.0,0o1400,YORK

In [10]:
df[df.STATE.isna()]

Empty DataFrame
Columns: [CASE_STATUS, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, SOC_CODE, STATE]
Index: []

In [11]:
df.loc[1572]

CASE_STATUS                 1
FULL_TIME_POSITION          Y
PREVAILING_WAGE       24918.4
YEAR                     2011
SOC_CODE               0o1002
STATE                      NA
Name: 1572, dtype: object

In [12]:
save_file=file_path+'h1b_dev_preprocessing.csv'
df.to_csv(save_file,index=False)

In [13]:
df

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,SOC_CODE,STATE
0,0,Y,54496.0,2013.0,0o1400,TEXAS
1,0,Y,62046.0,2015.0,0o1400,TEXAS
2,0,N,97635.2,2014.0,0o1200,OHIO
3,0,Y,101130.0,2014.0,0o1200,ILLINOIS
4,0,Y,75982.0,2014.0,0o1400,MASSACHUSETTS
5,0,Y,67038.0,2013.0,0o1400,MINNESOTA
6,0,Y,50461.0,2012.0,0o1300,WISCONSIN
7,0,Y,74214.0,2016.0,0o1400,MASSACHUSETTS
8,0,Y,48400.0,2012.0,0o1004,CALIFORNIA
9,0,Y,48430.0,2013.0,0o1050,WISCONSIN
10,0,Y,57179.0,2012.0,0o1400,JERSEY
11,0,Y,109429.0,2016.0,0o1420,TEXAS
12,0,Y,66830.0,2012.0,0o1400,WISCONSIN
13,0,Y,73112.0,2015.0,0o1400,KANSAS
14,0,Y,73923.0,2015.0,0o1400,CALIFORNIA
15,0,Y,95326.0,2015.0,0o1004,OREGON
16,0,Y,83408.0,2014.0,0o1400,MARYLAND
17,0,Y,56160.0,2014.0,0o1400,OHIO
18,0,N,52686.0,2016.0,0o1400,CAROLINA
19,0,Y,68411.0,2014.0,0o1400,CAROLINA
20,0,Y,80725.0,2012.0,0o1400,UTAH
21,0,Y,41808.0,2014.0,0o1300,TEXAS
22,0,Y,72717.0,2016.0,0o1400,TEXAS
23,0,Y,76898.0,2015.0,0o1420,YORK
24,0,Y,50814.0,2014.0,0o1400,CONNECTICUT
25,0,Y,67725.0,2012.0,0o1404,CALIFORNIA
26,0,Y,47632.0,2015.0,0o1400,CONNECTICUT
27,0,Y,40980.0,2015.0,0o1040,GEORGIA
28,0,Y,59280.0,2015.0,0o1400,PENNSYLVANIA
29,0,Y,71510.0,2014.0,0o1400,JERSEY
...,...,...,...,...,...,...
541492,0,Y,62566.0,2015.0,0o1400,TEXAS
541493,0,Y,56888.0,2011.0,0o1004,MICHIGAN
541494,0,Y,81037.0,2016.0,0o1404,MINNESOTA
541495,0,Y,58531.0,2013.0,0o1100,HAMPSHIRE
541496,0,Y,71718.0,2016.0,0o1400,PENNSYLVANIA
541497,0,Y,51210.0,2014.0,0o1400,CAROLINA
541498,0,Y,42037.0,2012.0,0o1300,TEXAS
541499,1,Y,60300.0,2011.0,0o1404,MASSACHUSETTS
541500,0,Y,61901.0,2015.0,0o1400,MICHIGAN
541501,0,Y,64792.0,2015.0,0o1004,VIRGINIA
541502,0,Y,71906.0,2015.0,0o1020,JERSEY
541503,0,Y,65832.0,2011.0,0o1404,COLORADO
541504,0,N,52374.0,2016.0,0o1400,OHIO
541505,0,Y,82202.0,2015.0,0o1400,WASHINGTON
541506,0,Y,82243.0,2012.0,0o0,YORK
541507,0,Y,55245.0,2014.0,0o1400,CALIFORNIA
541508,0,Y,53019.0,2013.0,0o1400,PENNSYLVANIA
541509,0,Y,43160.0,2015.0,0o1104,CALIFORNIA
541510,0,Y,48963.0,2011.0,0o1002,COLUMBIA
541511,0,Y,61318.0,2014.0,0o1400,ILLINOIS
541512,0,Y,83844.8,2016.0,0o0,JERSEY
541513,0,Y,50211.0,2013.0,0o1400,ILLINOIS
541514,0,Y,74422.0,2012.0,0o1400,JERSEY
541515,0,Y,55162.0,2012.0,0o1400,CALIFORNIA
541516,0,Y,94786.0,2015.0,0o1100,CALIFORNIA
541517,0,Y,82701.0,2014.0,0o1400,WASHINGTON
541518,1,N,64563.2,2016.0,0o1010,CALIFORNIA
541519,0,Y,97594.0,2015.0,0o1400,CALIFORNIA
541520,1,Y,42765.0,2012.0,0o0,YORK
541521,0,Y,90813.0,2016.0,0o1400,YORK