In [63]:
import pandas as pd
import numpy as np
#from sklearn import tree 

#from sklearn.neural_network import MLPClassifier 
#from sklearn.naive_bayes import GaussianNB 
from sklearn.model_selection import train_test_split

import sklearn.metrics as metrics
from sklearn.externals import joblib

In [64]:
file_path='./datas/'
file_name=file_path+"h1b_test_final_data_ry.csv"
df_test_no_ylabel=pd.read_csv(file_name,keep_default_na=False)

In [65]:
df_test_no_ylabel

,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,ID,SOC_CODE,STATE
0,1,-0.028336,2012,0,0o1200,PENNSYLVANIA
1,0,-0.020754,2016,1,0o1400,JERSEY
2,1,-0.018315,2015,2,0o1400,CALIFORNIA
3,1,-0.019950,2012,3,0o1400,OHIO
4,1,-0.016681,2016,4,0o1400,GEORGIA
5,1,-0.019468,2016,5,0o1400,UTAH
6,1,-0.027399,2014,6,0o1400,TEXAS
7,0,-0.012393,2012,7,0o1200,YORK
8,1,-0.021438,2013,8,0o1400,CALIFORNIA
9,1,-0.021324,2012,9,0o1400,YORK
10,1,-0.025245,2013,10,0o1400,YORK
11,1,-0.023117,2015,11,0o1400,JERSEY
12,1,-0.014394,2011,12,0o1400,COLUMBIA
13,1,-0.023788,2012,13,0o1400,YORK
14,1,-0.016548,2016,14,0o1020,CALIFORNIA
15,1,-0.020488,2015,15,0o1400,CALIFORNIA
16,1,-0.020387,2014,16,0o1400,JERSEY
17,1,-0.010777,2011,17,0o1400,YORK
18,0,-0.024865,2016,18,0o1010,JERSEY
19,0,-0.021236,2016,19,0o1200,ILLINOIS
20,1,-0.018873,2015,20,0o1400,CALIFORNIA
21,1,-0.025936,2012,21,0o1400,TEXAS
22,1,-0.019031,2011,22,0o1400,ILLINOIS
23,1,-0.028306,2012,23,0o1040,CALIFORNIA
24,1,-0.021128,2015,24,0o1400,VERMONT
25,1,-0.022433,2014,25,0o1400,MINNESOTA
26,1,-0.022705,2015,26,0o1400,OREGON
27,1,-0.022737,2015,27,0o1004,CALIFORNIA
28,1,-0.025258,2012,28,0o1400,VIRGINIA
29,0,-0.022705,2016,29,0o1400,JERSEY
...,...,...,...,...,...,...
541530,1,-0.021622,2012,541530,0o1010,YORK
541531,1,-0.024713,2013,541531,0o1020,MINNESOTA
541532,1,-0.030743,2013,541532,0o1200,CAROLINA
541533,1,-0.027025,2015,541533,0o0,CALIFORNIA
541534,1,0.002645,2014,541534,0o1001,CALIFORNIA
541535,1,-0.018151,2016,541535,0o1002,CALIFORNIA
541536,1,-0.019557,2012,541536,0o1400,YORK
541537,1,-0.024688,2011,541537,0o1400,WISCONSIN
541538,1,-0.022711,2014,541538,0o1400,JERSEY
541539,1,-0.026734,2013,541539,0o1400,MICHIGAN
541540,1,-0.017562,2011,541540,0o1400,CALIFORNIA
541541,1,-0.019360,2015,541541,0o1400,GEORGIA
541542,1,-0.023427,2013,541542,0o1020,MASSACHUSETTS
541543,0,-0.025023,2016,541543,0o1400,CALIFORNIA
541544,1,-0.018366,2012,541544,0o1400,ARIZONA
541545,1,-0.025233,2011,541545,0o1400,JERSEY
541546,1,-0.021654,2013,541546,0o1400,ILLINOIS
541547,1,-0.016583,2011,541547,0o1400,TEXAS
541548,1,-0.008478,2011,541548,0o1400,CALIFORNIA
541549,1,-0.022072,2014,541549,0o1400,CONNECTICUT
541550,0,-0.029597,2016,541550,0o1010,GEORGIA
541551,1,-0.019329,2016,541551,0o1400,ILLINOIS
541552,1,-0.023269,2015,541552,0o1400,CALIFORNIA
541553,1,-0.019937,2014,541553,0o1400,INDIANA
541554,1,-0.028761,2015,541554,0o1200,TEXAS
541555,1,-0.025986,2013,541555,0o1400,ARIZONA
541556,1,-0.007129,2015,541556,0o1020,GEORGIA
541557,1,-0.021958,2012,541557,0o1400,PENNSYLVANIA
541558,1,-0.018556,2016,541558,0o1400,CAROLINA
541559,1,-0.021020,2015,541559,0o1100,INDIANA

In [66]:
df_test=df_test_no_ylabel.drop('ID',axis=1)
df_test_dummy=pd.get_dummies(df_test,columns=['YEAR', 'SOC_CODE', 'STATE'])

In [67]:
df_test.columns

Index(['FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'SOC_CODE', 'STATE'], dtype='object')

In [68]:
df_test_dummy=df_test_dummy.drop("PREVAILING_WAGE",axis=1)

In [81]:
type="train2_"
save_dtree=file_path+type+'DTREE_Model_h1b'
save_mlp=file_path+type+'MLP_Model_h1b'
save_gaus=file_path+type+'GAUS_Model_h1b'
dtree_model=joblib.load(save_dtree)
mlp_model=joblib.load(save_mlp)
gaus_model=joblib.load(save_gaus)

In [82]:
df_test_dummy.columns

Index(['FULL_TIME_POSITION', 'YEAR_2011', 'YEAR_2012', 'YEAR_2013',
       'YEAR_2014', 'YEAR_2015', 'YEAR_2016', 'SOC_CODE_0o0',
       'SOC_CODE_0o1001', 'SOC_CODE_0o1002', 'SOC_CODE_0o1004',
       'SOC_CODE_0o1010', 'SOC_CODE_0o1020', 'SOC_CODE_0o1040',
       'SOC_CODE_0o1100', 'SOC_CODE_0o1200', 'SOC_CODE_0o1400',
       'STATE_ALABAMA', 'STATE_ALASKA', 'STATE_ARIZONA', 'STATE_ARKANSAS',
       'STATE_CALIFORNIA', 'STATE_CAROLINA', 'STATE_COLORADO',
       'STATE_COLUMBIA', 'STATE_CONNECTICUT', 'STATE_DAKOTA', 'STATE_DELAWARE',
       'STATE_FLORIDA', 'STATE_GEORGIA', 'STATE_HAMPSHIRE', 'STATE_HAWAII',
       'STATE_IDAHO', 'STATE_ILLINOIS', 'STATE_INDIANA', 'STATE_IOWA',
       'STATE_ISLAND', 'STATE_JERSEY', 'STATE_KANSAS', 'STATE_KENTUCKY',
       'STATE_LOUISIANA', 'STATE_MAINE', 'STATE_MARYLAND',
       'STATE_MASSACHUSETTS', 'STATE_MEXICO', 'STATE_MICHIGAN',
       'STATE_MINNESOTA', 'STATE_MISSISSIPPI', 'STATE_MISSOURI',
       'STATE_MONTANA', 'STATE_NA', 'STATE_NEBRASKA', 'STATE_NEVADA',
       'STATE_OHIO', 'STATE_OKLAHOMA', 'STATE_OREGON', 'STATE_PENNSYLVANIA',
       'STATE_RICO', 'STATE_TENNESSEE', 'STATE_TEXAS', 'STATE_UTAH',
       'STATE_VERMONT', 'STATE_VIRGINIA', 'STATE_WASHINGTON',
       'STATE_WISCONSIN', 'STATE_WYOMING', 'STATE_YORK'],
      dtype='object')

In [93]:
y_pred_mlp=mlp_model.predict(df_test_dummy)
y_pred_tree=dtree_model.predict(df_test_dummy)
y_pred_gaus=gaus_model.predict(df_test_dummy)

In [102]:
y_pred_mlp[21]

0

In [101]:
y_pred_tree[21]

0

In [100]:
y_pred_gaus[21]

0

In [103]:
temp=pd.DataFrame(y_pred_mlp)
temp.to_csv("./datas/result_mlp",index=False)
temp=pd.DataFrame(y_pred_tree)
temp.to_csv("./datas/result_tree",index=False)
temp=pd.DataFrame(y_pred_gaus)
temp.to_csv("./datas/result_gaus",index=False)

In [104]:
y_pred_mlp

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [80]:
temp=pd.DataFrame(y_pred_mlp)
temp

        0
0       1
1       0
2       0
3       0
4       0
5       0
6       0
7       1
8       0
9       0
10      0
11      0
12      1
13      0
14      0
15      0
16      0
17      1
18      0
19      0
20      0
21      0
22      0
23      1
24      0
25      0
26      0
27      0
28      0
29      0
...    ..
541530  1
541531  0
541532  1
541533  1
541534  1
541535  0
541536  0
541537  0
541538  0
541539  0
541540  0
541541  0
541542  0
541543  0
541544  0
541545  0
541546  0
541547  1
541548  0
541549  0
541550  0
541551  0
541552  0
541553  0
541554  0
541555  0
541556  0
541557  0
541558  0
541559  0

[541560 rows x 1 columns]

In [91]:
file_name2=file_path+"h1b_test.csv"
temp2=pd.read_csv(file_name2,keep_default_na=False)
temp2.CASE_STATUS

C:\Users\adboy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0                   CERTIFIED
1                   CERTIFIED
2                   CERTIFIED
3                   CERTIFIED
4                   CERTIFIED
5                   CERTIFIED
6                   CERTIFIED
7                   CERTIFIED
8                   CERTIFIED
9                   CERTIFIED
10                  CERTIFIED
11                  CERTIFIED
12                  CERTIFIED
13        CERTIFIED-WITHDRAWN
14                  CERTIFIED
15                  CERTIFIED
16        CERTIFIED-WITHDRAWN
17                  CERTIFIED
18                  CERTIFIED
19                     DENIED
20                  CERTIFIED
21                     DENIED
22                  CERTIFIED
23                  CERTIFIED
24                  CERTIFIED
25                  CERTIFIED
26                  CERTIFIED
27                  CERTIFIED
28                  CERTIFIED
29                  CERTIFIED
                 ...
599970              CERTIFIED
599971              CERTIFIED
599972              CERTIFIED
599973              CERTIFIED
599974              CERTIFIED
599975              CERTIFIED
599976              CERTIFIED
599977              CERTIFIED
599978              CERTIFIED
599979              CERTIFIED
599980              CERTIFIED
599981              CERTIFIED
599982    CERTIFIED-WITHDRAWN
599983              CERTIFIED
599984              CERTIFIED
599985              CERTIFIED
599986              CERTIFIED
599987              CERTIFIED
599988    CERTIFIED-WITHDRAWN
599989              CERTIFIED
599990              CERTIFIED
599991    CERTIFIED-WITHDRAWN
599992              CERTIFIED
599993              CERTIFIED
599994              CERTIFIED
599995              CERTIFIED
599996              CERTIFIED
599997              CERTIFIED
599998              CERTIFIED
599999              CERTIFIED
Name: CASE_STATUS, Length: 600000, dtype: object