In [10]:
import pandas as pd
import numpy as np

In [17]:
file_path='./datas/'
file_name=file_path+"h1b_dev_preprocessing.csv"
df=pd.read_csv(file_name)
df.columns

Index(['CASE_STATUS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR',
       'SOC_CODE', 'STATE'],
      dtype='object')

In [20]:
df[df.STATE.isna()]

        CASE_STATUS FULL_TIME_POSITION  PREVAILING_WAGE    YEAR SOC_CODE STATE
1572              1                  Y          24918.4  2011.0   0o1002   NaN
3568              0                  Y          38680.0  2014.0   0o1040   NaN
3807              0                  N          37918.0  2016.0   0o1004   NaN
4549              1                  Y          26750.0  2011.0   0o1040   NaN
5385              1                  Y          72446.0  2012.0   0o1422   NaN
5676              0                  Y          27206.4  2013.0   0o1002   NaN
5739              0                  Y          20009.6  2013.0   0o1002   NaN
5797              0                  Y          39450.0  2012.0   0o1040   NaN
6530              0                  Y          42910.0  2015.0   0o1004   NaN
7083              0                  Y          28995.2  2015.0   0o1040   NaN
7712              0                  Y          47050.0  2014.0   0o1002   NaN
7914              1                  Y          33072.0  2012.0   0o1004   NaN
10096             0                  Y          38085.0  2011.0   0o1004   NaN
10593             1                  Y          30659.2  2011.0   0o1004   NaN
11224             0                  N          22401.6  2016.0   0o1002   NaN
11296             0                  Y          32177.6  2015.0   0o1002   NaN
11500             1                  Y          70866.0  2011.0   0o1400   NaN
11658             0                  Y         153129.6  2016.0   0o1420   NaN
12675             0                  Y          31678.0  2011.0   0o1002   NaN
13571             0                  Y         109574.0  2015.0   0o1200   NaN
14984             0                  Y          36316.8  2013.0   0o1004   NaN
15156             1                  Y          32739.2  2012.0      0o0   NaN
17174             0                  Y          19739.2  2014.0   0o1002   NaN
17179             0                  Y          39645.0  2013.0   0o1420   NaN
18638             0                  Y          18720.0  2015.0   0o1002   NaN
20280             0                  N          30326.4  2016.0   0o1420   NaN
23285             1                  Y          21091.2  2012.0   0o1420   NaN
23932             0                  N          45365.0  2016.0   0o1004   NaN
25172             1                  Y          33072.0  2012.0   0o1004   NaN
25478             0                  Y          20010.0  2012.0   0o1002   NaN
...             ...                ...              ...     ...      ...   ...
518897            0                  Y          21600.0  2012.0      0o0   NaN
518934            0                  Y          26750.0  2011.0   0o1040   NaN
518955            0                  Y          35672.0  2013.0   0o1430   NaN
519054            0                  Y          36483.0  2011.0   0o1004   NaN
519709            1                  Y          10504.0  2012.0   0o1040   NaN
520467            0                  Y          47258.0  2011.0   0o1004   NaN
521046            0                  Y          48797.0  2015.0   0o1004   NaN
521550            0                  Y          30659.0  2011.0   0o1004   NaN
522688            0                  Y         132267.0  2014.0   0o1200   NaN
523023            1                  Y          10504.0  2012.0   0o1040   NaN
524842            0                  Y          51064.0  2014.0   0o1424   NaN
525910            0                  Y          46130.0  2011.0   0o1040   NaN
526238            0                  N          33716.8  2016.0   0o1020   NaN
527174            0                  Y          51938.0  2014.0   0o1400   NaN
527555            0                  Y          33134.0  2011.0   0o1424   NaN
529355            0                  Y          33696.0  2013.0   0o1002   NaN
532698            1                  Y          21600.0  2012.0   0o1004   NaN
532748            0                  Y          70928.0  2014.0   0o1004   NaN
533183            1                  Y          39874.0  2011.0   0o1010   NaN
534135            0                  Y          71302.4  2015.0   0o1420   NaN
536750            0                  N          33342.4  2016.0   0o1424   NaN
536788            0                  N          41600.0  2016.0   0o1004   NaN
537206            0                  Y          47091.0  2012.0   0o1422   NaN
538402            0                  N          33571.0  2016.0   0o1004   NaN
538449            0                  Y          18283.2  2012.0      0o0   NaN
538765            0                  Y          39350.0  2013.0   0o1040   NaN
539171            0                  Y          15080.0  2014.0   0o1040   NaN
539301            0                  Y          24752.0  2015.0   0o1002   NaN
541340            0                  Y          47258.0  2011.0   0o1004   NaN
541462            0                  N          45302.0  2016.0   0o1004   NaN

[692 rows x 6 columns]

In [12]:
df[['CASE_STATUS', 'FULL_TIME_POSITION', 'YEAR','SOC_CODE', 'STATE']]=df[['CASE_STATUS', 'FULL_TIME_POSITION', 'YEAR','SOC_CODE', 'STATE']].apply(lambda x : x.astype('category'))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541522 entries, 0 to 541521
Data columns (total 6 columns):
CASE_STATUS           541522 non-null category
FULL_TIME_POSITION    541522 non-null category
PREVAILING_WAGE       541522 non-null float64
YEAR                  541522 non-null category
SOC_CODE              541522 non-null category
STATE                 540830 non-null category
dtypes: category(5), float64(1)
memory usage: 6.7 MB

In [19]:
df[df.STATE.isna()]

        CASE_STATUS FULL_TIME_POSITION  PREVAILING_WAGE    YEAR SOC_CODE STATE
1572              1                  Y          24918.4  2011.0   0o1002   NaN
3568              0                  Y          38680.0  2014.0   0o1040   NaN
3807              0                  N          37918.0  2016.0   0o1004   NaN
4549              1                  Y          26750.0  2011.0   0o1040   NaN
5385              1                  Y          72446.0  2012.0   0o1422   NaN
5676              0                  Y          27206.4  2013.0   0o1002   NaN
5739              0                  Y          20009.6  2013.0   0o1002   NaN
5797              0                  Y          39450.0  2012.0   0o1040   NaN
6530              0                  Y          42910.0  2015.0   0o1004   NaN
7083              0                  Y          28995.2  2015.0   0o1040   NaN
7712              0                  Y          47050.0  2014.0   0o1002   NaN
7914              1                  Y          33072.0  2012.0   0o1004   NaN
10096             0                  Y          38085.0  2011.0   0o1004   NaN
10593             1                  Y          30659.2  2011.0   0o1004   NaN
11224             0                  N          22401.6  2016.0   0o1002   NaN
11296             0                  Y          32177.6  2015.0   0o1002   NaN
11500             1                  Y          70866.0  2011.0   0o1400   NaN
11658             0                  Y         153129.6  2016.0   0o1420   NaN
12675             0                  Y          31678.0  2011.0   0o1002   NaN
13571             0                  Y         109574.0  2015.0   0o1200   NaN
14984             0                  Y          36316.8  2013.0   0o1004   NaN
15156             1                  Y          32739.2  2012.0      0o0   NaN
17174             0                  Y          19739.2  2014.0   0o1002   NaN
17179             0                  Y          39645.0  2013.0   0o1420   NaN
18638             0                  Y          18720.0  2015.0   0o1002   NaN
20280             0                  N          30326.4  2016.0   0o1420   NaN
23285             1                  Y          21091.2  2012.0   0o1420   NaN
23932             0                  N          45365.0  2016.0   0o1004   NaN
25172             1                  Y          33072.0  2012.0   0o1004   NaN
25478             0                  Y          20010.0  2012.0   0o1002   NaN
...             ...                ...              ...     ...      ...   ...
518897            0                  Y          21600.0  2012.0      0o0   NaN
518934            0                  Y          26750.0  2011.0   0o1040   NaN
518955            0                  Y          35672.0  2013.0   0o1430   NaN
519054            0                  Y          36483.0  2011.0   0o1004   NaN
519709            1                  Y          10504.0  2012.0   0o1040   NaN
520467            0                  Y          47258.0  2011.0   0o1004   NaN
521046            0                  Y          48797.0  2015.0   0o1004   NaN
521550            0                  Y          30659.0  2011.0   0o1004   NaN
522688            0                  Y         132267.0  2014.0   0o1200   NaN
523023            1                  Y          10504.0  2012.0   0o1040   NaN
524842            0                  Y          51064.0  2014.0   0o1424   NaN
525910            0                  Y          46130.0  2011.0   0o1040   NaN
526238            0                  N          33716.8  2016.0   0o1020   NaN
527174            0                  Y          51938.0  2014.0   0o1400   NaN
527555            0                  Y          33134.0  2011.0   0o1424   NaN
529355            0                  Y          33696.0  2013.0   0o1002   NaN
532698            1                  Y          21600.0  2012.0   0o1004   NaN
532748            0                  Y          70928.0  2014.0   0o1004   NaN
533183            1                  Y          39874.0  2011.0   0o1010   NaN
534135            0                  Y          71302.4  2015.0   0o1420   NaN
536750            0                  N          33342.4  2016.0   0o1424   NaN
536788            0                  N          41600.0  2016.0   0o1004   NaN
537206            0                  Y          47091.0  2012.0   0o1422   NaN
538402            0                  N          33571.0  2016.0   0o1004   NaN
538449            0                  Y          18283.2  2012.0      0o0   NaN
538765            0                  Y          39350.0  2013.0   0o1040   NaN
539171            0                  Y          15080.0  2014.0   0o1040   NaN
539301            0                  Y          24752.0  2015.0   0o1002   NaN
541340            0                  Y          47258.0  2011.0   0o1004   NaN
541462            0                  N          45302.0  2016.0   0o1004   NaN

[692 rows x 6 columns]