## BOAZ Mini Project

### h1b data [h1b_train, h1b_dev, h1b_test]

- Use h1b __train data__ for train your model.
- Tune your model with __dev data__.
- Finally check your best performed model score with __test data__.
- __*You should clean your train dev test data first!!*__
- Score function : Accuracy
<br>
<br>
- __Your goal is to predict CASE_STATUS, using other features.__
- You can choose the features you want to use in your project.

### Attribute Information

- __CASE_STATUS__
    - The CASE_STATUS field denotes the status of the application after LCA processing. Certified applications are filed with USCIS for H-1B approval.
<br>
<br>
- EMPLOYER_NAME
    - Name of the employer submitting labor condition application.
<br>
<br>
- SOC_NAME
    - Occupational name associated with the SOC_CODE. SOC_CODE is the occupational code associated with the job being requested for temporary labor condition, as classified by the Standard Occupational Classification (SOC) System.
<br>
<br>
- JOB_TITLE
    - Title of the job.
<br>
<br>
- FULL_TIME_POSITION
    - Y = Full Time Position; N = Part Time Position.
<br>
<br>
- PREVAILING_WAGE
    - Prevailing Wage for the job being requested for temporary labor condition. The wage is listed at annual scale in USD. The prevailing wage for a job position is defined as the average wage paid to similarly employed workers in the requested occupation in the area of intended employment. The prevailing wage is based on the employer’s minimum requirements for the position.
<br>
<br>
- YEAR
    - Year in which the H-1B visa petition was filed.
<br>
<br>

### In this assignment, you will design, implement, and evaluate the appropriate models for given data.
0. Preprocess; normalization, feature selection, etc.
1. Model selection; characteristics of datasets need to be comprehended.
2. Evaluation; This step should be done properly to prevent overfitting problem."
3. Enhancement; parameter tuning and feature selection, etc.

In [1]:
import pandas as pd
file_path="./datas/"

In [2]:
file_name=file_path+"h1b_train.csv"
train=pd.read_csv(file_name)

In [25]:
temp=train['lan']==train[]

KeyError: ('EMPLOYER_NAME', 'lan')

In [27]:
train.sort_values(by=["PREVAILING_WAGE"])

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
1313308,569246,DENIED,"SEC SOLUTIONS, LLC",ARCHITECTURAL AND CIVIL DRAFTERS,ARCHITECTURAL DRAFTER,N,0.00,2016.0,"LIBERTY HILL, TEXAS",NaN,NaN
1104586,1678115,DENIED,OAKSTONE ACADEMY PALM BEACH,"Education Administrators, Postsecondary",TEACHER,Y,0.00,2014.0,"WEST PALM BEACH, FLORIDA",-80.053375,26.715342
1080875,193691,DENIED,"NESS USA, INC.",COMPUTER SYSTEMS ANALYSTS,PROGRAMMER ANALYST,N,0.00,2016.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625
294829,2864464,DENIED,CALIFORNIA ATHLETIC CLUBS,"Entertainers and Performers, Sports and Relate...",TRIATHLON/ATHLETICS COACH,N,0.00,2011.0,"AVILA BAY, CALIFORNIA",NaN,NaN
395922,1090639,DENIED,WAT PROMKUNARAM BUDDHIST TEMPLE OF ARIZONA,"RELIGIOUS WORKERS, ALL OTHER",VOLUNTEER CULTURAL EXCHANGE EDUCATOR,Y,0.00,2015.0,"WADDELL, ARIZONA",NaN,NaN
72385,677394,DENIED,"HARRIS THERAPY, INC.",SPEECH-LANGUAGE PATHOLOGISTS,SPEECH LANGUAGE PATHOLOGIST,Y,0.00,2015.0,"HONOLULU, HAWAII",-157.858333,21.306944
1139127,2834716,WITHDRAWN,SYNAPSE DESIGN AUTOMATION,NaN,HARDWARE ENGINEER,Y,0.00,2011.0,"CA, CALIFORNIA",NaN,NaN
1581635,953671,DENIED,JONATHAN A KUIPERS PLLC,"DENTISTS, GENERAL",DENTIST,Y,0.00,2015.0,"GARLAND, TEXAS",-96.638883,32.912624
75610,643551,DENIED,T & F MAIN ST,CHEFS AND HEAD COOKS,CHEF - PROFESSIONAL FOOD PRODUCTION,N,0.00,2016.0,"SPARTANBURG, SOUTH CAROLINA",-81.932048,34.949567
12449,885748,DENIED,"WESTERN PNEUMATICS, INC.",MECHANICAL ENGINEERS,MECHANICAL ENGINEER,Y,0.00,2015.0,"EUGENE, OREGON",-123.086754,44.052069
1556831,611583,DENIED,SUPREME COURT OF THE STATE OF NEW YORK,LIBRARIANS,LAW LIBRARY RESEARCHER,N,0.00,2016.0,"NEW YORK CITY, NEW YORK",-74.005941,40.712784
822720,52504,DENIED,NATIONAL BASKETBALL RETIRED PLAYERS ASSOCIATIO...,"BUSINESS OPERATIONS SPECIALISTS, ALL OTHER",OPERATIONS AND SPECIAL PROJECTS COORDINATOR,N,0.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
994411,1314116,DENIED,MUSC TAX ENTITY,"Medical Scientists, Except Epidemiologists",RESEARCH,Y,0.00,2014.0,"CHARLESTON, SOUTH CAROLINA",-79.931051,32.776475
1438079,1260315,DENIED,SPARTA SOFTWARE CORPORATION,COACHES AND SCOUTS,SPORTS SCIENTIST,Y,0.00,2015.0,"MENLO PARK, CALIFORNIA",-122.181725,37.452960
209931,644650,DENIED,LEGACY INTERNATIONAL UNLIMITED LLC,REAL ESTATE SALES AGENTS,FOREIGN RE INVESTMENT ADVISOR,N,0.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
1533590,1347361,DENIED,MUSC TAX ENTITY,Microbiologists,POST-DOCTORAL RESEARCH,Y,0.00,2014.0,"CHARLESTON, SOUTH CAROLINA",-79.931051,32.776475
420164,2258454,DENIED,FREEDOM GUITAR INC.,Sound Engineering Technicians,SOUND ENGINEER,N,15.16,2012.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738
877213,2610783,DENIED,KALVEN TECHNOLOGIES INC,"Software Developers, Applications",SOFTWARE ENGINEER,N,31.69,2012.0,"ELK GROVE VILLAGE, ILLINOIS",-87.970346,42.003918
803200,612562,DENIED,CENTRO CULTURAL ESPANOL INC,ART DIRECTORS,CULTURAL DIRECTOR,N,35.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
1349092,1253924,DENIED,TEST,ADVERTISING SALES AGENTS,ADSF,Y,52.00,2015.0,"TEST, DELAWARE",NaN,NaN
1169761,313323,DENIED,GOR CORPORATION,"SOFTWARE DEVELOPERS, APPLICATIONS",IOS AND ANDROID DEVELOPER,N,1278.94,2016.0,"GLENDALE, CALIFORNIA",-118.255075,34.142508
388262,2549193,DENIED,PANDIT VIEW SOFTWARE LLC,Computer Programmers,SAP CONSULTANT,Y,2011.00,2012.0,"CENTENNIAL, COLORADO",-104.877173,39.580745
1792424,2542241,DENIED,VISIONSOFT INTERNATIONAL INC,Computer Programmers,COMPUTER PROGRAMMER ANALYST,Y,2012.00,2012.0,"ATLANTA, GEORGIA",-84.387982,33.748995
1127093,2598077,WITHDRAWN,"INTERNATIONAL SYSTEMS TECHNOLOGIES, INC.",Computer Programmers,PROGRAMMER ANALYST,Y,2012.00,2012.0,"PISCATAWAY, NEW JERSEY",-74.464286,40.554887
1486518,618987,DENIED,DUKE CITY SPORTS ENTERTAINMENT GROUP,ATHLETES AND SPORTS COMPETITORS,PLAYER,N,3900.00,2016.0,"ALBUQUERQUE, NEW MEXICO",-106.605553,35.085334
1203485,1786208,DENIED,"COMPLEX TV NETWORK, INC","Engineers, All Other",TELEVISION ENGINEER,Y,7799.00,2013.0,"ENCINO, CALIFORNIA",-118.521428,34.151749
753062,1815469,DENIED,STATE UNIVERSITY OF NEW YORK AT GENESEO,"Art, Drama, and Music Teachers, Postsecondary",ADJUNCT INSTRUCTOR,N,8236.25,2013.0,"GENESEO, NEW YORK",NaN,NaN
1752363,2464503,DENIED,FEATHER RIVER COLLEGE,Coaches and Scouts,ASSISTANT SOCCER COACH,N,9500.00,2012.0,"QUINCY, CALIFORNIA",NaN,NaN
355645,2995086,DENIED,"PROMONTORY INTERFINANCIAL NETWORK, LLC","Software Developers, Applications",ENTERPRISE DEVELOPER,Y,10090.00,2011.0,"ARLINGTON, VIRGINIA",-77.106770,38.879970
883601,2282344,CERTIFIED,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.","Library Assistants, Clerical",LIBRARY ASSISTANT,Y,10504.00,2012.0,"SAIPAN, NA",145.729789,15.151515
...,...,...,...,...,...,...,...,...,...,...,...
654277,2119782,DENIED,"JR CASTINGS & FINDINGS, INC.",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,Y,NaN,2013.0,"NEW YORK, NEW YORK",-74.005941,40.712784
663143,1327261,DENIED,JORDACHE ENTERPRISES,Fashion Designers,DESIGN,Y,NaN,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784
721035,1373680,DENIED,TAMPA PREPARATORY SCHOOL,Network and Computer Systems Administrators,IT NETWORK MANAGER,Y,NaN,2014.0,"TAMPA, FLORIDA",-82.457178,27.950575
735716,2506134,WITHDRAWN,NaN,"Software Developers, Applications",SOFTWARE ENGINEER,Y,NaN,2012.0,"CA, CALIFORNIA",NaN,NaN
744734,2775945,DENIED,MYRTLE BEACH PELICANS LP,"Entertainers and Performers, Sports and Relate...",FRONT OFFICE INTERN,Y,NaN,2011.0,"MYRTLE BEACH, SOUTH CAROLINA",-78.886694,33.689060
753131,1774683,DENIED,"HFL, INC.",Market Research Analysts and Marketing Special...,MARKET RESEARCH MANAGER,Y,NaN,2014.0,"CONCORD, CALIFORNIA",-122.031073,37.977978
786258,2547059,DENIED,TUPPERWARE U.S. INC.,Industrial Production Managers,DIRECTOR OF QUALITY ASSURANCE,Y,NaN,2012.0,"HEMINGWAY, SOUTH CAROLINA",NaN,NaN
806809,2434308,WITHDRAWN,NaN,"Software Developers, Applications",NaN,NaN,NaN,2012.0,"NA, UTAH",NaN,NaN
814338,1892625,DENIED,ISN SOFTWARE CORPORATION,"Computer Occupations, All Other",SYSTEMS ENGINEER I,Y,NaN,2013.0,"DALLAS, TEXAS",-96.796988,32.776664
815956,2125908,WITHDRAWN,SONATA SOFTWARE NORTH AMERICA INC,"Computer Occupations, All Other",CONSULTANT,Y,NaN,2013.0,"REDMOND, WASHINGTON",-122.121512,47.673988
817039,2476203,DENIED,GLAZER'S INC./GLAZER'S WHOLESALE DRUG CO,Industrial Engineers,OPERATIONS ENGINEER,Y,NaN,2012.0,"DALLAS, TEXAS",-96.796988,32.776664
850149,1256820,DENIED,STELO LLC,GRAPHIC DESIGNERS,GRAPHIC DESIGNER,N,NaN,2015.0,"BROOKLYN, NEW YORK",-73.944158,40.678178
916253,2456135,DENIED,"OXFORD BIOMEDICAL TECHNOLOGIES, INC.",Computer Programmers,COMPUTER PROGRAMMER,Y,NaN,2012.0,"RIVIERA BEACH, FLORIDA",-80.058097,26.775341
990981,2538496,WITHDRAWN,UST GLOBAL INC.,Computer Systems Analysts,SENIOR SYSTEMS ANALYST,Y,NaN,2012.0,"SANTA CLARITA, CALIFORNIA",-118.542586,34.391664
1205037,3002451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"WESTMINISTER, COLORADO",-105.037205,39.836653
1301157,1598148,DENIED,"ARTWORK BUILDERS,INC.",Civil Engineers,CIVIL ENGINEER,N,NaN,2014.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054
1315321,2352099,DENIED,NIHAKI SYSTEMS INC,Computer Programmers,COMPUTER PROGRAMMER ANALYST,Y,NaN,2012.0,"DAYTON, NEW JERSEY",-74.510154,40.372607
1399219,2426063,DENIED,"NTT DATA, INC. (FORMERLY KEANE INC.)","Software Developers, Applications",SOFTWARE DEVELOPER,Y,NaN,2012.0,"TEMPE, ARIZONA",-111.940005,33.425510
1447823,2552629,DENIED,TOP-LINE FURNITURE WAREHOUSE,Public Relations Specialists,CORPORATE COMMUNICATIONS SPECIALIST,Y,NaN,2012.0,"BENSENVILLE, ILLINOIS",-87.940066,41.955030
1485348,1837701,DENIED,E-DATA EXPERTS INC,Computer Systems Analysts,COMPUTER SYSTEMS ANALYST,Y,NaN,2013.0,"MECHANICSBURG, PENNSYLVANIA",-77.008588,40.214256
1560757,2547064,DENIED,SYMPHONY SERVICES CORP.,Computer and Information Systems Managers,MANAGER,Y,NaN,2012.0,"DALLAS, TEXAS",-96.796988,32.776664
1561182,2033038,WITHDRAWN,NaN,"Software Developers, Applications",NaN,Y,NaN,2013.0,"CA, CALIFORNIA",NaN,NaN
1591348,2755590,DENIED,INFOSYS CONSULTING INC.,Management Analysts,SENIOR ASSOCIATE,Y,NaN,2011.0,"ALPHARETTA, GEORGIA",-84.294090,34.075376
1641397,2707823,DENIED,SOULCYCLE LLC,"Managers, All Other",FITNESS STUDIO MANAGER,Y,NaN,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1651642,2529141,WITHDRAWN,"LAUNCH IT, INC.",Computer Programmers,SOFTWARE PROGRAMMER,Y,NaN,2012.0,"DES MOINES, IOWA",-93.609106,41.600545
1658894,2708715,WITHDRAWN,SHERATON HOTEL,NaN,NaN,Y,NaN,2011.0,"OKLAHOMA CITY, OKLAHOMA",-97.516428,35.467560
1673116,1373961,DENIED,WORLD AFRICA TECHNOLOGY AID FOUNDATION,Market Research Analysts and Marketing Special...,MARKETING,Y,NaN,2014.0,"GLENDALE, CALIFORNIA",-118.255075,34.142508
1706956,3002449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ST.PAUL, MINNESOTA",-93.089958,44.953703
1714108,2324477,DENIED,VIRKETYNE L.L.C,NaN,PUBLIC RELATIONS,N,NaN,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1766393,2328475,DENIED,"SASHA STRAUSS, LLC",Market Research Analysts and Marketing Special...,"ANALYST, BRAND DEVELOPMENT",Y,NaN,2012.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234

In [4]:
label=pd.read_csv("h1b_test_no_ylabel.csv")

In [18]:
label.sort_values(by=["Unnamed: 0"]).tail(10)

,Unnamed: 0,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
530408,3002309,ALBERT EINSTEIN COLLEGE OF MEDICINE OF YESHIVA...,Database Administrators,DATA ADMINISTRATOR,N,44324.8,2011,"BRONX, NEW YORK",-73.864827,40.844782
537358,3002312,CLIENT FOCUS LLC,Computer Programmers,PROGRAMMER ANALYST,Y,54080.0,2011,"STERLING, VIRGINIA",-77.429130,39.006699
450707,3002320,"BENCHMARK FURNITURE MANUFACTURING, INC.",Management Analysts,MANAGEMENT ANALYST,Y,58531.0,2011,"BROOKLYN, NEW YORK",-73.944158,40.678178
475014,3002327,TECHWOOD INC,Cost Estimators,COST ESTIMATOR / PROJECT CO-ORDINATOR,Y,48090.0,2011,"MOUNT VERNON, NEW YORK",-73.837079,40.912599
507445,3002334,"OLYMPIC COMPUTER SERVICES, INC.",Network and Computer Systems Administrators*,NETWORK AND COMPUTER SECURITY ADMINISTRATOR,N,54121.6,2011,"PINE BROOK, NEW JERSEY",-74.344084,40.867488
194226,3002357,IIDYA CORP,Computer Programmers,PROGRAMMER ANALYST,Y,46488.0,2011,"HOUSTON, TEXAS",-95.369803,29.760427
213849,3002365,"UNIVERSITY OF CALIFORNIA, SANTA CRUZ",Biochemists and Biophysicists,POSTDOCTORAL SCHOLAR,Y,38496.0,2011,"SANTA CRUZ, CALIFORNIA",-122.030796,36.974117
301407,3002367,PARKS ASSOCIATES,Market Research Analysts and Marketing Special...,RESEARCH ANALYST,Y,39832.0,2011,"DALLAS, TEXAS",-96.796988,32.776664
336454,3002370,"CUSTOMTBT, LLC",Instructional Coordinators,SENIOR INSTRUCTIONAL DESIGNER,Y,46738.0,2011,"MARIETTA, GEORGIA",-84.549933,33.952602
323510,3002393,PEI PARTNERSHIP ARCHITECTS LLP,Architectural and Civil Drafters,ARCHITECTURAL DESIGNER,Y,69368.0,2011,"NEW YORK, NEW YORK",-74.005941,40.712784

In [6]:
file_name_dev=file_path+"h1b_dev.csv"
dev=pd.read_csv(file_name_dev)

In [17]:
dev.sort_values(by=["Unnamed: 0"]).tail(10)

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
193247,3002401,WITHDRAWN,"ITECH US, INC.","Software Developers, Applications",SOFTWARE ENGINEER,Y,83762.0,2011.0,"MCLEAN, VIRGINIA",-77.177260,38.933868
338324,3002410,WITHDRAWN,HEADSTRONG SERVICES LLC,"Computer Occupations, All Other*",CONSULTANT,Y,55869.0,2011.0,"BUFFALO GROVE, ILLINOIS",-87.963131,42.166283
543062,3002413,WITHDRAWN,"TLC SURGICAL MANAGEMENT, LTD.",Medical and Health Services Managers,MEDICAL & HEALTH SERVICES MANAGER,N,60632.0,2011.0,"THE WOODLANDS, TEXAS",-95.461263,30.165821
196555,3002419,WITHDRAWN,"HIVE-FX, LLC",Multimedia Artists and Animators,3D ARTIST,Y,50544.0,2011.0,"PORTLAND, OREGON",-122.676482,45.523062
406091,3002424,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,Y,93100.0,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
8968,3002431,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.0,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
570351,3002436,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,Y,77730.0,2011.0,"DURHAM, NORTH CAROLINA",-78.898619,35.994033
363821,3002439,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,Y,53082.0,2011.0,"PLEASANTON, CALIFORNIA",-121.874679,37.662431
544578,3002447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SCHENECTADY , NEW YORK",-73.939569,42.814243
414183,3002453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"LAVERGNE, TENNESSEE",-86.581939,36.015618

In [30]:
import re

In [34]:
train[train.EMPLOYER_NAME==str(re.compile('GOOGLE',re.I))]

Empty DataFrame
Columns: [Unnamed: 0, CASE_STATUS, EMPLOYER_NAME, SOC_NAME, JOB_TITLE, FULL_TIME_POSITION, PREVAILING_WAGE, YEAR, WORKSITE, lon, lat]
Index: []

In [53]:
train[train.EMPLOYER_NAME.str.contains('google',case=False)==True]

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
1,789205,CERTIFIED,GOOGLE INC.,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,SITE RELIABILITY ENGINEER,Y,79144.0,2015.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
6,2662510,CERTIFIED,GOOGLE INC.,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,Y,82035.0,2011.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
96,820712,CERTIFIED-WITHDRAWN,GOOGLE INC.,COMPUTER AND INFORMATION SYSTEMS MANAGERS,SOFTWARE ENGINEER,Y,190249.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
117,2000995,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,117146.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
383,1308362,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,98675.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
820,2240063,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,92019.0,2012.0,"SAN BRUNO, CALIFORNIA",-122.411083,37.630490
1069,1454428,CERTIFIED-WITHDRAWN,GOOGLE INC.,Network and Computer Systems Administrators,NETWORK ENGINEER,Y,113048.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1209,1976459,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,100984.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1313,2228528,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER (SITE RELIABILITY),Y,116355.0,2012.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1495,313162,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,119637.0,2016.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1936,283455,WITHDRAWN,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,116605.0,2016.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
2353,1440517,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,98675.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
2465,1929181,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,117146.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
2779,1046591,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,88254.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
2970,1539593,CERTIFIED,GOOGLE INC.,Sales Engineers,ACCOUNT MANAGER,Y,91645.0,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784
3586,2205857,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,98675.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
3626,1785919,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,114018.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
3882,1877905,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER IN TEST,Y,87714.0,2013.0,"NEW YORK, NEW YORK",-74.005941,40.712784
3962,1051034,CERTIFIED,GOOGLE INC.,COMPUTER SYSTEMS ANALYSTS,TECHNICAL SOLUTIONS CONSULTANT,Y,80769.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4006,1459383,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,73174.0,2014.0,"SEATTLE, WASHINGTON",-122.332071,47.606209
4233,2122790,CERTIFIED-WITHDRAWN,GOOGLE INC.,Computer Systems Analysts,PRODUCT MANAGER,Y,99653.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4417,2870856,CERTIFIED,GOOGLE INC.,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,Y,94224.0,2011.0,"IRVINE, CALIFORNIA",-117.794694,33.683947
4423,921550,WITHDRAWN,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,88254.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4639,1151430,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER IN TEST,Y,99716.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4675,348006,CERTIFIED-WITHDRAWN,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,103145.0,2016.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4687,1249939,CERTIFIED-WITHDRAWN,GOOGLE INC.,COMPUTER SYSTEMS ANALYSTS,BUSINESS SYSTEMS ANALYST,Y,127837.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4698,1455294,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,134534.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
4907,287760,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,99939.0,2016.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
5440,2067151,CERTIFIED-WITHDRAWN,GOOGLE INC.,"Software Developers, Systems Software",SOFTWARE ENGINEER,Y,84115.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
5506,793927,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,99423.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
...,...,...,...,...,...,...,...,...,...,...,...
1796602,2879508,CERTIFIED,GOOGLE INC.,Marketing Managers,ACCOUNT EXECUTIVE,Y,88026.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1796764,2232289,CERTIFIED,GOOGLE INC.,Marketing Managers,"MARKETING MANAGER (PRODUCT MANAGER, STRATEGIC ...",Y,95846.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1797058,1377613,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER IN TEST,Y,98675.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1797201,2984888,CERTIFIED,GOOGLE INC.,"Human Resources, Training, and Labor Relations...",SALES EDU TRAINER,Y,63170.0,2011.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1797221,720867,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,109762.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1797479,2528357,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",STAFF SOFTWARE ENGINEER,Y,84302.0,2012.0,"SEATTLE, WASHINGTON",-122.332071,47.606209
1797573,1816694,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,117146.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1797706,2442873,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,82930.0,2012.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1798204,311550,CERTIFIED-WITHDRAWN,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,117458.0,2016.0,"KIRKLAND, WASHINGTON",-122.205983,47.676893
1798250,2755370,CERTIFIED,GOOGLE INC.,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,Y,82035.0,2011.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1798319,1123786,CERTIFIED,GOOGLE INC.,GRAPHIC DESIGNERS,DESIGNER (SWE),Y,114802.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1798842,1474221,CERTIFIED,GOOGLE INC.,Computer Systems Analysts,PRODUCT MANAGER,Y,79269.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1798915,2209498,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,98675.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1799036,1713169,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,109762.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1799099,689232,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,114400.0,2015.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
1799455,2806028,CERTIFIED,GOOGLE INC.,"Computer and Information Scientists, Research",QUANTITATIVE MARKETING ANALYST (RESEARCH),Y,98467.0,2011.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1800100,2832015,CERTIFIED,GOOGLE INC.,Network Systems and Data Communications Analysts,NETWORK ENGINEER,Y,86403.0,2011.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1800354,1524783,CERTIFIED-WITHDRAWN,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,116605.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1800621,1510948,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,98675.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1800673,401606,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,90813.0,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1800716,2828514,CERTIFIED,GOOGLE INC.,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,Y,105643.0,2011.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
1800960,1943459,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,117146.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1801117,389725,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,106101.0,2016.0,"KIRKLAND, WASHINGTON",-122.205983,47.676893
1801277,1433362,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,116605.0,2014.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1801337,359467,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS","SOFTWARE ENGINEER, TOOLS AND INFRASTRUCTURE",Y,103145.0,2016.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1802080,799041,CERTIFIED-WITHDRAWN,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,99423.0,2015.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1802147,769316,CERTIFIED-WITHDRAWN,"GOOGLE, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,73923.0,2015.0,"SAN BRUNO, CALIFORNIA",-122.411083,37.630490
1802190,1854976,CERTIFIED,GOOGLE INC.,"Software Developers, Applications",SOFTWARE ENGINEER,Y,117146.0,2013.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
1802291,780746,CERTIFIED,"GOOGLE, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,73445.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1802297,772603,CERTIFIED,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,99798.0,2015.0,"VENICE, CALIFORNIA",-118.469483,33.985047

In [54]:
train=train.loc[(train_data['CASE_STATUS']=='CERTIFIED') | (train_data['CASE_STATUS']=='DENIED')

SyntaxError: unexpected EOF while parsing (<ipython-input-54-0ab268e0c7cd>, line 1)